The data is hard to read in text format, so import it using Pandas and check it out.

In [1]:
import pandas as pd

The most basic: room availability

In [4]:
df_room_availability = pd.read_csv('../data/room_availability.csv')
df_room_availability.head(20)

     room_id  room_number        date     status   price  max_occupancy
0   RM000001          101  2025-01-04     Booked     NaN              2
1   RM000001          101  2025-01-05     Booked     NaN              2
2   RM000001          101  2025-01-06     Booked     NaN              2
3   RM000001          101  2025-01-07     Booked     NaN              2
4   RM000001          101  2025-01-08     Booked     NaN              2
5   RM000001          101  2025-01-09     Booked     NaN              2
6   RM000001          101  2025-01-10     Booked     NaN              2
7   RM000001          101  2025-01-11     Booked     NaN              2
8   RM000001          101  2025-01-12     Booked     NaN              2
9   RM000001          101  2025-01-13     Booked     NaN              2
10  RM000001          101  2025-01-14     Booked     NaN              2
11  RM000001          101  2025-01-15     Booked     NaN              2
12  RM000001          101  2025-01-16     Booked     NaN              2
13  RM000001          101  2025-01-17     Booked     NaN              2
14  RM000001          101  2025-01-18     Booked     NaN              2
15  RM000001          101  2025-01-19     Booked     NaN              2
16  RM000001          101  2025-01-20  Available  500.00              2
17  RM000001          101  2025-01-21  Available  500.00              2
18  RM000001          101  2025-01-22  Available  468.57              2
19  RM000001          101  2025-01-23  Available  485.14              2

In [6]:
df_room_availability.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 219000 entries, 0 to 218999
Data columns (total 6 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   room_id        219000 non-null  object
 1   room_number    219000 non-null  int64
 2   date           219000 non-null  object
 3   status         219000 non-null  object
 4   price          87377 non-null   float64
 5   max_occupancy  219000 non-null  int64
dtypes: float64(1), int64(2), object(3)
memory usage: 10.0+ MB

Check the unique statuses for the rooms

In [5]:
df_room_availability['status'].unique()

array(['Booked', 'Available', 'Maintenance'], dtype=object)

Sanity check: every room is listed for every date

In [20]:
print(f'Number of days listed: {df_room_availability['date'].unique().shape[0]}')
print(f'Number of rooms listed: {df_room_availability['room_number'].unique().shape[0]}')
print(f'Product: {df_room_availability['date'].unique().shape[0]*df_room_availability['room_number'].unique().shape[0]}')
print(f'Number of rows: {df_room_availability.shape[0]}')

Number of days listed: 365
Number of rooms listed: 600
Product: 219000
Number of rows: 219000