In [4]:
import os
import psycopg
from dotenv import load_dotenv

In [5]:
# Load environment variables from .env file
load_dotenv('../.env')
neon_conn_string = os.getenv("NEON_DB_URL")

In [4]:
try:
    with psycopg.connect(neon_conn_string) as neon_conn:
        print("Connection established")
        # Open a cursor to perform database operations
        with neon_conn.cursor() as cur:
            # Drop the table if it already exists
            cur.execute("DROP TABLE IF EXISTS books;")
            print("Finished dropping table (if it existed).")
            # Create a new table
            cur.execute("""
                CREATE TABLE books (
                    id SERIAL PRIMARY KEY,
                    title VARCHAR(255) NOT NULL,
                    author VARCHAR(255),
                    publication_year INT,
                    in_stock BOOLEAN DEFAULT TRUE
                );
            """)
            print("Finished creating table.")
            # Insert a single book record
            cur.execute(
                "INSERT INTO books (title, author, publication_year, in_stock) VALUES (%s, %s, %s, %s);",
                ("The Catcher in the Rye", "J.D. Salinger", 1951, True),
            )
            print("Inserted a single book.")
            # Data to be inserted
            books_to_insert = [
                ("The Hobbit", "J.R.R. Tolkien", 1937, True),
                ("1984", "George Orwell", 1949, True),
                ("Dune", "Frank Herbert", 1965, False),
            ]
            # Insert multiple books at once
            cur.executemany(
                "INSERT INTO books (title, author, publication_year, in_stock) VALUES (%s, %s, %s, %s);",
                books_to_insert,
            )
            print("Inserted 3 rows of data.")
            # The transaction is committed automatically when the 'with' block exits in psycopg (v3)
except Exception as e:
    print("Connection failed.")
    print(e)

Connection established
Finished dropping table (if it existed).
Finished creating table.
Inserted a single book.
Inserted 3 rows of data.

In [5]:
try:
    with psycopg.connect(neon_conn_string) as neon_conn:
        print("Connection established")
        # Open a cursor to perform database operations
        with neon_conn.cursor() as cur:
            cur.execute("SELECT * FROM books")
            print(cur.fetchall())
except Exception as e:
    print("Connection failed.")
    print(e)

Connection established
[(1, 'The Catcher in the Rye', 'J.D. Salinger', 1951, True), (2, 'The Hobbit', 'J.R.R. Tolkien', 1937, True), (3, '1984', 'George Orwell', 1949, True), (4, 'Dune', 'Frank Herbert', 1965, False)]

In [6]:
import pandas as pd

## Rooms table

First we need the rooms table as its primary key is referenced by the room_availability table.

In [157]:
df_rooms = pd.read_pickle('../data/pandas/rooms.pkl')
df_rooms

,room_id,room_number,floor,type,square_feet,basic_amenities,additional_amenities,max_occupancy,bed_type,view_type,accessibility,status,last_renovation,base_rate,max_rate
0,RM000001,101,1,Standard,410,"[Air Conditioning, Smart TV, Premium Coffee Ma...",[City View],2,Queen,[City View],False,Available,2022-10-25,350,500
1,RM000002,102,1,Standard,361,"[Air Conditioning, Smart TV, Premium Coffee Ma...",[Evening Turndown Service],2,Queen,[Standard View],False,Available,2023-03-01,350,500
2,RM000003,103,1,Standard,431,"[Air Conditioning, Smart TV, Premium Coffee Ma...",[Courtyard View],2,Double Queen,[Courtyard View],False,Available,2022-08-10,350,500
3,RM000004,104,1,Standard,391,"[Air Conditioning, Smart TV, Premium Coffee Ma...","[City View, Courtyard View, Evening Turndown S...",2,Queen,"[City View, Courtyard View]",True,Occupied,2023-09-06,350,500
4,RM000005,105,1,Standard,373,"[Air Conditioning, Smart TV, Premium Coffee Ma...","[Courtyard View, City View, Evening Turndown S...",2,Double Queen,"[City View, Courtyard View]",True,Occupied,2024-04-13,350,500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
595,RM000596,2026,20,Presidential Suite,2369,"[Air Conditioning, Multiple 75"" Smart TVs, Pro...","[Private Pool, Private Terrace, Luxury Car Ser...",6,King + Multiple Sofa Beds,[Standard View],False,Maintenance,2024-10-01,3500,5000
596,RM000597,2027,20,Presidential Suite,2020,"[Air Conditioning, Multiple 75"" Smart TVs, Pro...","[Private Terrace, Grand Piano, Private Gym Equ...",6,King + Multiple Sofa Beds,[Standard View],False,Maintenance,2024-04-17,3500,5000
597,RM000598,2028,20,Presidential Suite,1883,"[Air Conditioning, Multiple 75"" Smart TVs, Pro...","[Grand Piano, Private Terrace, Dedicated Conci...",6,King + Multiple Sofa Beds,[Standard View],False,Occupied,2022-03-09,3500,5000
598,RM000599,2029,20,Presidential Suite,1643,"[Air Conditioning, Multiple 75"" Smart TVs, Pro...","[Private Terrace, Private Chef Available, Priv...",6,King + Multiple Sofa Beds,[Standard View],False,Maintenance,2023-07-24,3500,5000
599,RM000600,2030,20,Presidential Suite,1671,"[Air Conditioning, Multiple 75"" Smart TVs, Pro...","[Private Butler Service, Private Pool, Grand P...",6,King + Multiple Sofa Beds,[Panoramic Ocean View],False,Maintenance,2022-10-06,3500,5000

In [144]:
print(df_rooms.iloc[121])

room_id                                                          RM000122
room_number                                                           502
floor                                                                   5
type                                                               Deluxe
square_feet                                                           460
basic_amenities         [Air Conditioning, 55" Smart TV, Nespresso Mac...
additional_amenities                 [Soaking Tub, Pool View, Ocean View]
max_occupancy                                                           3
bed_type                                                     Double Queen
view_type                                         [Pool View, Ocean View]
accessibility                                                       False
status                                                           Occupied
last_renovation                                                2024-11-25
base_rate                                                             500
max_rate                                                              750
Name: 121, dtype: object

Convert the room_id to an int for more efficient use in SQL.

In [158]:
df_rooms['room_id'] = df_rooms['room_id'].apply(lambda x: int(x[2:]))
df_rooms

,room_id,room_number,floor,type,square_feet,basic_amenities,additional_amenities,max_occupancy,bed_type,view_type,accessibility,status,last_renovation,base_rate,max_rate
0,1,101,1,Standard,410,"[Air Conditioning, Smart TV, Premium Coffee Ma...",[City View],2,Queen,[City View],False,Available,2022-10-25,350,500
1,2,102,1,Standard,361,"[Air Conditioning, Smart TV, Premium Coffee Ma...",[Evening Turndown Service],2,Queen,[Standard View],False,Available,2023-03-01,350,500
2,3,103,1,Standard,431,"[Air Conditioning, Smart TV, Premium Coffee Ma...",[Courtyard View],2,Double Queen,[Courtyard View],False,Available,2022-08-10,350,500
3,4,104,1,Standard,391,"[Air Conditioning, Smart TV, Premium Coffee Ma...","[City View, Courtyard View, Evening Turndown S...",2,Queen,"[City View, Courtyard View]",True,Occupied,2023-09-06,350,500
4,5,105,1,Standard,373,"[Air Conditioning, Smart TV, Premium Coffee Ma...","[Courtyard View, City View, Evening Turndown S...",2,Double Queen,"[City View, Courtyard View]",True,Occupied,2024-04-13,350,500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
595,596,2026,20,Presidential Suite,2369,"[Air Conditioning, Multiple 75"" Smart TVs, Pro...","[Private Pool, Private Terrace, Luxury Car Ser...",6,King + Multiple Sofa Beds,[Standard View],False,Maintenance,2024-10-01,3500,5000
596,597,2027,20,Presidential Suite,2020,"[Air Conditioning, Multiple 75"" Smart TVs, Pro...","[Private Terrace, Grand Piano, Private Gym Equ...",6,King + Multiple Sofa Beds,[Standard View],False,Maintenance,2024-04-17,3500,5000
597,598,2028,20,Presidential Suite,1883,"[Air Conditioning, Multiple 75"" Smart TVs, Pro...","[Grand Piano, Private Terrace, Dedicated Conci...",6,King + Multiple Sofa Beds,[Standard View],False,Occupied,2022-03-09,3500,5000
598,599,2029,20,Presidential Suite,1643,"[Air Conditioning, Multiple 75"" Smart TVs, Pro...","[Private Terrace, Private Chef Available, Priv...",6,King + Multiple Sofa Beds,[Standard View],False,Maintenance,2023-07-24,3500,5000
599,600,2030,20,Presidential Suite,1671,"[Air Conditioning, Multiple 75"" Smart TVs, Pro...","[Private Butler Service, Private Pool, Grand P...",6,King + Multiple Sofa Beds,[Panoramic Ocean View],False,Maintenance,2022-10-06,3500,5000

Get room types to create enum

In [92]:
room_type = df_rooms['type'].unique().tolist()
room_type_str = "('" + "', '".join(room_type) + "')"
room_type_str

"('Standard', 'Deluxe', 'Suite', 'Presidential Suite')"

Get room bed types to create enum

In [93]:
room_bed_type = df_rooms['bed_type'].unique().tolist()
room_bed_type_str = "('" + "', '".join(room_bed_type) + "')"
room_bed_type_str

"('Queen', 'Double Queen', 'King', 'Double King', 'King + Sofa Bed', 'King + Multiple Sofa Beds')"

Get statuses to create enum

In [199]:
room_status_type = df_rooms['status'].unique().tolist()
room_status_type_str = "('" + "', '".join(room_status_type) + "')"
room_status_type_str

"('Available', 'Occupied', 'Maintenance')"

Check that room_ids are sequential and start with 1

In [95]:
assert sum(df_rooms['room_id'].iloc[1:].to_numpy() - df_rooms['room_id'].iloc[:-1].to_numpy()) == df_rooms.shape[0]-1
assert df_rooms['room_id'].iloc[0] == 1

For some reason only the room_type enum needs special treatment (otherwise there's a cache error). I use more complicated ones for the bed_type and status columns, but they don't have a problem.

In [159]:
from enum import Enum

class RoomType(Enum):
    Standard = "Standard"
    Deluxe = "Deluxe"
    Suite = "Suite"
    Presidential_Suite = "Presidential Suite"
    
enum_room_type_mapping = {'Standard':RoomType.Standard, 'Deluxe':RoomType.Deluxe, 'Suite':RoomType.Suite, 'Presidential Suite':RoomType.Presidential_Suite}

sql_room_type_mapping = [
        (RoomType.Standard, 'Standard'),
        (RoomType.Deluxe, 'Deluxe'),
        (RoomType.Suite, 'Suite'),
        (RoomType.Presidential_Suite, 'Presidential Suite')
]

In [160]:
df_rooms['type'] = df_rooms['type'].apply(lambda x: enum_room_type_mapping[x])
df_rooms

,room_id,room_number,floor,type,square_feet,basic_amenities,additional_amenities,max_occupancy,bed_type,view_type,accessibility,status,last_renovation,base_rate,max_rate
0,1,101,1,RoomType.Standard,410,"[Air Conditioning, Smart TV, Premium Coffee Ma...",[City View],2,Queen,[City View],False,Available,2022-10-25,350,500
1,2,102,1,RoomType.Standard,361,"[Air Conditioning, Smart TV, Premium Coffee Ma...",[Evening Turndown Service],2,Queen,[Standard View],False,Available,2023-03-01,350,500
2,3,103,1,RoomType.Standard,431,"[Air Conditioning, Smart TV, Premium Coffee Ma...",[Courtyard View],2,Double Queen,[Courtyard View],False,Available,2022-08-10,350,500
3,4,104,1,RoomType.Standard,391,"[Air Conditioning, Smart TV, Premium Coffee Ma...","[City View, Courtyard View, Evening Turndown S...",2,Queen,"[City View, Courtyard View]",True,Occupied,2023-09-06,350,500
4,5,105,1,RoomType.Standard,373,"[Air Conditioning, Smart TV, Premium Coffee Ma...","[Courtyard View, City View, Evening Turndown S...",2,Double Queen,"[City View, Courtyard View]",True,Occupied,2024-04-13,350,500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
595,596,2026,20,RoomType.Presidential_Suite,2369,"[Air Conditioning, Multiple 75"" Smart TVs, Pro...","[Private Pool, Private Terrace, Luxury Car Ser...",6,King + Multiple Sofa Beds,[Standard View],False,Maintenance,2024-10-01,3500,5000
596,597,2027,20,RoomType.Presidential_Suite,2020,"[Air Conditioning, Multiple 75"" Smart TVs, Pro...","[Private Terrace, Grand Piano, Private Gym Equ...",6,King + Multiple Sofa Beds,[Standard View],False,Maintenance,2024-04-17,3500,5000
597,598,2028,20,RoomType.Presidential_Suite,1883,"[Air Conditioning, Multiple 75"" Smart TVs, Pro...","[Grand Piano, Private Terrace, Dedicated Conci...",6,King + Multiple Sofa Beds,[Standard View],False,Occupied,2022-03-09,3500,5000
598,599,2029,20,RoomType.Presidential_Suite,1643,"[Air Conditioning, Multiple 75"" Smart TVs, Pro...","[Private Terrace, Private Chef Available, Priv...",6,King + Multiple Sofa Beds,[Standard View],False,Maintenance,2023-07-24,3500,5000
599,600,2030,20,RoomType.Presidential_Suite,1671,"[Air Conditioning, Multiple 75"" Smart TVs, Pro...","[Private Butler Service, Private Pool, Grand P...",6,King + Multiple Sofa Beds,[Panoramic Ocean View],False,Maintenance,2022-10-06,3500,5000

Add table to Neon

In [201]:
from psycopg.types.enum import EnumInfo, register_enum

with psycopg.connect(neon_conn_string) as neon_conn:
    print("Connection established")
    # Open a cursor to perform database operations
    with neon_conn.cursor() as cur:
        # drop existing stuff (if exists)
        cur.execute("DROP TABLE IF EXISTS rooms CASCADE;")
        cur.execute("DROP TYPE IF EXISTS room_type CASCADE;")
        cur.execute("DROP TYPE IF EXISTS room_bed_type CASCADE;")
        cur.execute("DROP TYPE IF EXISTS room_status_type CASCADE;")
        # print("Finished dropping enums and table (if they existed).")
        
        # Define enums for type, bed_type, and status
        cur.execute(f"CREATE TYPE room_type AS ENUM {room_type_str};")
        cur.execute(f"CREATE TYPE room_bed_type AS ENUM {room_bed_type_str};")
        cur.execute(f"CREATE TYPE room_status_type AS ENUM {room_status_type_str};")

        # Create a new table
        cur.execute("""
            CREATE TABLE rooms (
                room_id INT GENERATED BY DEFAULT AS IDENTITY PRIMARY KEY,
                room_number INT NOT NULL,
                floor INT NOT NULL,
                type room_type,
                square_feet INT,
                basic_amenities TEXT[],  -- Array data type for basic amenities
                additional_amenities TEXT[], -- Array data type for additional amenities
                max_occupancy INT,
                bed_type room_bed_type,
                view_type TEXT[],  -- Array data type for view type
                accessibility BOOLEAN,
                status room_status_type,
                last_renovation DATE,
                base_rate NUMERIC(10, 2),
                max_rate NUMERIC(10, 2)
            );
        """)
        print("Finished creating table.")
    
    # room_type enum special treatment
    info = EnumInfo.fetch(neon_conn, "room_type")
    register_enum(info, context=neon_conn, enum=RoomType, mapping=sql_room_type_mapping)
    
    with neon_conn.cursor() as cur:
        # Insert room availability data
        cur.executemany(
            f"INSERT INTO rooms VALUES (" + "%s, "*(len(df_rooms.columns)-1) + "%s);",
            df_rooms.values.tolist(),
        )
        print("Inserted data.")

Connection established
Finished creating table.
Inserted data.

## Room Availability table

Now add the room_availability table

In [165]:
df_room_availability = pd.read_pickle('../data/pandas/room_availability.pkl')
df_room_availability

         room_id  room_number        date     status   price  max_occupancy
0       RM000001          101  2025-01-04     Booked     NaN              2
1       RM000001          101  2025-01-05     Booked     NaN              2
2       RM000001          101  2025-01-06     Booked     NaN              2
3       RM000001          101  2025-01-07     Booked     NaN              2
4       RM000001          101  2025-01-08     Booked     NaN              2
...          ...          ...         ...        ...     ...            ...
218995  RM000600         2030  2025-12-30     Booked     NaN              6
218996  RM000600         2030  2025-12-31     Booked     NaN              6
218997  RM000600         2030  2026-01-01     Booked     NaN              6
218998  RM000600         2030  2026-01-02  Available  4617.6              6
218999  RM000600         2030  2026-01-03  Available  5000.0              6

[219000 rows x 6 columns]

Convert room_id to int for more efficient use in SQL and because used that way in rooms table.

In [166]:
df_room_availability['room_id'] = df_room_availability['room_id'].apply(lambda x: int(x[2:]))
df_room_availability

        room_id  room_number        date     status   price  max_occupancy
0             1          101  2025-01-04     Booked     NaN              2
1             1          101  2025-01-05     Booked     NaN              2
2             1          101  2025-01-06     Booked     NaN              2
3             1          101  2025-01-07     Booked     NaN              2
4             1          101  2025-01-08     Booked     NaN              2
...         ...          ...         ...        ...     ...            ...
218995      600         2030  2025-12-30     Booked     NaN              6
218996      600         2030  2025-12-31     Booked     NaN              6
218997      600         2030  2026-01-01     Booked     NaN              6
218998      600         2030  2026-01-02  Available  4617.6              6
218999      600         2030  2026-01-03  Available  5000.0              6

[219000 rows x 6 columns]

In [12]:
df_room_availability.values.tolist()

[[1, 101, '2025-01-04', 'Booked', nan, 2],
 [1, 101, '2025-01-05', 'Booked', nan, 2],
 [1, 101, '2025-01-06', 'Booked', nan, 2],
 [1, 101, '2025-01-07', 'Booked', nan, 2],
 [1, 101, '2025-01-08', 'Booked', nan, 2],
 [1, 101, '2025-01-09', 'Booked', nan, 2],
 [1, 101, '2025-01-10', 'Booked', nan, 2],
 [1, 101, '2025-01-11', 'Booked', nan, 2],
 [1, 101, '2025-01-12', 'Booked', nan, 2],
 [1, 101, '2025-01-13', 'Booked', nan, 2],
 [1, 101, '2025-01-14', 'Booked', nan, 2],
 [1, 101, '2025-01-15', 'Booked', nan, 2],
 [1, 101, '2025-01-16', 'Booked', nan, 2],
 [1, 101, '2025-01-17', 'Booked', nan, 2],
 [1, 101, '2025-01-18', 'Booked', nan, 2],
 [1, 101, '2025-01-19', 'Booked', nan, 2],
 [1, 101, '2025-01-20', 'Available', 500.0, 2],
 [1, 101, '2025-01-21', 'Available', 500.0, 2],
 [1, 101, '2025-01-22', 'Available', 468.57, 2],
 [1, 101, '2025-01-23', 'Available', 485.14, 2],
 [1, 101, '2025-01-24', 'Available', 500.0, 2],
 [1, 101, '2025-01-25', 'Available', 500.0, 2],
 [1, 101, '2025-01-26', 'Available', 500.0, 2],
 [1, 101, '2025-01-27', 'Booked', nan, 2],
 [1, 101, '2025-01-28', 'Booked', nan, 2],
 [1, 101, '2025-01-29', 'Booked', nan, 2],
 [1, 101, '2025-01-30', 'Booked', nan, 2],
 [1, 101, '2025-01-31', 'Booked', nan, 2],
 [1, 101, '2025-02-01', 'Booked', nan, 2],
 [1, 101, '2025-02-02', 'Booked', nan, 2],
 [1, 101, '2025-02-03', 'Booked', nan, 2],
 [1, 101, '2025-02-04', 'Booked', nan, 2],
 [1, 101, '2025-02-05', 'Booked', nan, 2],
 [1, 101, '2025-02-06', 'Booked', nan, 2],
 [1, 101, '2025-02-07', 'Booked', nan, 2],
 [1, 101, '2025-02-08', 'Booked', nan, 2],
 [1, 101, '2025-02-09', 'Booked', nan, 2],
 [1, 101, '2025-02-10', 'Booked', nan, 2],
 [1, 101, '2025-02-11', 'Booked', nan, 2],
 [1, 101, '2025-02-12', 'Booked', nan, 2],
 [1, 101, '2025-02-13', 'Booked', nan, 2],
 [1, 101, '2025-02-14', 'Booked', nan, 2],
 [1, 101, '2025-02-15', 'Booked', nan, 2],
 [1, 101, '2025-02-16', 'Booked', nan, 2],
 [1, 101, '2025-02-17', 'Booked', nan, 2],
 [1, 101, '2025-02-18', 'Booked', nan, 2],
 [1, 101, '2025-02-19', 'Booked', nan, 2],
 [1, 101, '2025-02-20', 'Available', 370.38, 2],
 [1, 101, '2025-02-21', 'Available', 376.86, 2],
 [1, 101, '2025-02-22', 'Available', 404.86, 2],
 [1, 101, '2025-02-23', 'Available', 452.98, 2],
 [1, 101, '2025-02-24', 'Available', 370.29, 2],
 [1, 101, '2025-02-25', 'Available', 378.72, 2],
 [1, 101, '2025-02-26', 'Available', 368.23, 2],
 [1, 101, '2025-02-27', 'Available', 377.52, 2],
 [1, 101, '2025-02-28', 'Available', 345.96, 2],
 [1, 101, '2025-03-01', 'Available', 441.21, 2],
 [1, 101, '2025-03-02', 'Booked', nan, 2],
 [1, 101, '2025-03-03', 'Booked', nan, 2],
 [1, 101, '2025-03-04', 'Booked', nan, 2],
 [1, 101, '2025-03-05', 'Booked', nan, 2],
 [1, 101, '2025-03-06', 'Booked', nan, 2],
 [1, 101, '2025-03-07', 'Booked', nan, 2],
 [1, 101, '2025-03-08', 'Booked', nan, 2],
 [1, 101, '2025-03-09', 'Booked', nan, 2],
 [1, 101, '2025-03-10', 'Booked', nan, 2],
 [1, 101, '2025-03-11', 'Booked', nan, 2],
 [1, 101, '2025-03-12', 'Booked', nan, 2],
 [1, 101, '2025-03-13', 'Booked', nan, 2],
 [1, 101, '2025-03-14', 'Booked', nan, 2],
 [1, 101, '2025-03-15', 'Available', 378.75, 2],
 [1, 101, '2025-03-16', 'Available', 457.09, 2],
 [1, 101, '2025-03-17', 'Available', 320.23, 2],
 [1, 101, '2025-03-18', 'Available', 342.32, 2],
 [1, 101, '2025-03-19', 'Available', 341.98, 2],
 [1, 101, '2025-03-20', 'Available', 325.31, 2],
 [1, 101, '2025-03-21', 'Available', 331.45, 2],
 [1, 101, '2025-03-22', 'Available', 445.04, 2],
 [1, 101, '2025-03-23', 'Available', 410.03, 2],
 [1, 101, '2025-03-24', 'Available', 361.22, 2],
 [1, 101, '2025-03-25', 'Available', 318.76, 2],
 [1, 101, '2025-03-26', 'Available', 334.7, 2],
 [1, 101, '2025-03-27', 'Available', 316.94, 2],
 [1, 101, '2025-03-28', 'Booked', nan, 2],
 [1, 101, '2025-03-29', 'Booked', nan, 2],
 [1, 101, '2025-03-30', 'Booked', nan, 2],
 [1, 101, '2025-03-31', 'Booked', nan, 2],
 [1, 101, '2025-04-01', 'Booked', nan, 2],
 [1, 101, '2025-04-02', 'Booked', nan, 2],
 [1, 101, '2025-04-03', 'Booked', nan, 2],
 [1, 101, '2025-04-04', 'Booked', nan, 2],
 [1, 101, '2025-04-05', 'Booked', nan, 2],
 [1, 101, '2025-04-06', 'Booked', nan, 2],
 [1, 101, '2025-04-07', 'Booked', nan, 2],
 [1, 101, '2025-04-08', 'Booked', nan, 2],
 [1, 101, '2025-04-09', 'Booked', nan, 2],
 [1, 101, '2025-04-10', 'Available', 350.21, 2],
 [1, 101, '2025-04-11', 'Available', 378.23, 2],
 [1, 101, '2025-04-12', 'Available', 414.96, 2],
 [1, 101, '2025-04-13', 'Available', 411.94, 2],
 [1, 101, '2025-04-14', 'Available', 315.84, 2],
 [1, 101, '2025-04-15', 'Available', 377.26, 2],
 [1, 101, '2025-04-16', 'Booked', nan, 2],
 [1, 101, '2025-04-17', 'Booked', nan, 2],
 [1, 101, '2025-04-18', 'Booked', nan, 2],
 [1, 101, '2025-04-19', 'Booked', nan, 2],
 [1, 101, '2025-04-20', 'Booked', nan, 2],
 [1, 101, '2025-04-21', 'Available', 329.32, 2],
 [1, 101, '2025-04-22', 'Available', 370.66, 2],
 [1, 101, '2025-04-23', 'Available', 372.82, 2],
 [1, 101, '2025-04-24', 'Available', 346.64, 2],
 [1, 101, '2025-04-25', 'Available', 323.42, 2],
 [1, 101, '2025-04-26', 'Booked', nan, 2],
 [1, 101, '2025-04-27', 'Booked', nan, 2],
 [1, 101, '2025-04-28', 'Booked', nan, 2],
 [1, 101, '2025-04-29', 'Booked', nan, 2],
 [1, 101, '2025-04-30', 'Booked', nan, 2],
 [1, 101, '2025-05-01', 'Booked', nan, 2],
 [1, 101, '2025-05-02', 'Booked', nan, 2],
 [1, 101, '2025-05-03', 'Booked', nan, 2],
 [1, 101, '2025-05-04', 'Booked', nan, 2],
 [1, 101, '2025-05-05', 'Booked', nan, 2],
 [1, 101, '2025-05-06', 'Booked', nan, 2],
 [1, 101, '2025-05-07', 'Booked', nan, 2],
 [1, 101, '2025-05-08', 'Available', 370.65, 2],
 [1, 101, '2025-05-09', 'Available', 335.85, 2],
 [1, 101, '2025-05-10', 'Booked', nan, 2],
 [1, 101, '2025-05-11', 'Booked', nan, 2],
 [1, 101, '2025-05-12', 'Booked', nan, 2],
 [1, 101, '2025-05-13', 'Booked', nan, 2],
 [1, 101, '2025-05-14', 'Booked', nan, 2],
 [1, 101, '2025-05-15', 'Booked', nan, 2],
 [1, 101, '2025-05-16', 'Available', 351.48, 2],
 [1, 101, '2025-05-17', 'Available', 438.51, 2],
 [1, 101, '2025-05-18', 'Available', 453.96, 2],
 [1, 101, '2025-05-19', 'Available', 382.05, 2],
 [1, 101, '2025-05-20', 'Available', 341.3, 2],
 [1, 101, '2025-05-21', 'Available', 336.64, 2],
 [1, 101, '2025-05-22', 'Available', 329.58, 2],
 [1, 101, '2025-05-23', 'Available', 380.42, 2],
 [1, 101, '2025-05-24', 'Available', 414.58, 2],
 [1, 101, '2025-05-25', 'Available', 381.67, 2],
 [1, 101, '2025-05-26', 'Available', 337.88, 2],
 [1, 101, '2025-05-27', 'Available', 328.95, 2],
 [1, 101, '2025-05-28', 'Available', 374.12, 2],
 [1, 101, '2025-05-29', 'Available', 372.11, 2],
 [1, 101, '2025-05-30', 'Available', 357.34, 2],
 [1, 101, '2025-05-31', 'Available', 447.26, 2],
 [1, 101, '2025-06-01', 'Available', 500.0, 2],
 [1, 101, '2025-06-02', 'Available', 418.09, 2],
 [1, 101, '2025-06-03', 'Available', 456.97, 2],
 [1, 101, '2025-06-04', 'Available', 490.18, 2],
 [1, 101, '2025-06-05', 'Available', 491.22, 2],
 [1, 101, '2025-06-06', 'Available', 436.74, 2],
 [1, 101, '2025-06-07', 'Available', 493.29, 2],
 [1, 101, '2025-06-08', 'Available', 500.0, 2],
 [1, 101, '2025-06-09', 'Available', 467.62, 2],
 [1, 101, '2025-06-10', 'Available', 469.73, 2],
 [1, 101, '2025-06-11', 'Available', 414.42, 2],
 [1, 101, '2025-06-12', 'Available', 495.87, 2],
 [1, 101, '2025-06-13', 'Available', 448.47, 2],
 [1, 101, '2025-06-14', 'Available', 500.0, 2],
 [1, 101, '2025-06-15', 'Available', 500.0, 2],
 [1, 101, '2025-06-16', 'Available', 464.34, 2],
 [1, 101, '2025-06-17', 'Available', 493.1, 2],
 [1, 101, '2025-06-18', 'Available', 419.85, 2],
 [1, 101, '2025-06-19', 'Available', 484.19, 2],
 [1, 101, '2025-06-20', 'Available', 488.55, 2],
 [1, 101, '2025-06-21', 'Maintenance', nan, 2],
 [1, 101, '2025-06-22', 'Maintenance', nan, 2],
 [1, 101, '2025-06-23', 'Available', 469.91, 2],
 [1, 101, '2025-06-24', 'Available', 459.93, 2],
 [1, 101, '2025-06-25', 'Available', 462.34, 2],
 [1, 101, '2025-06-26', 'Available', 433.1, 2],
 [1, 101, '2025-06-27', 'Available', 450.93, 2],
 [1, 101, '2025-06-28', 'Booked', nan, 2],
 [1, 101, '2025-06-29', 'Booked', nan, 2],
 [1, 101, '2025-06-30', 'Booked', nan, 2],
 [1, 101, '2025-07-01', 'Booked', nan, 2],
 [1, 101, '2025-07-02', 'Booked', nan, 2],
 [1, 101, '2025-07-03', 'Booked', nan, 2],
 [1, 101, '2025-07-04', 'Booked', nan, 2],
 [1, 101, '2025-07-05', 'Booked', nan, 2],
 [1, 101, '2025-07-06', 'Booked', nan, 2],
 [1, 101, '2025-07-07', 'Booked', nan, 2],
 [1, 101, '2025-07-08', 'Booked', nan, 2],
 [1, 101, '2025-07-09', 'Booked', nan, 2],
 [1, 101, '2025-07-10', 'Booked', nan, 2],
 [1, 101, '2025-07-11', 'Booked', nan, 2],
 [1, 101, '2025-07-12', 'Booked', nan, 2],
 [1, 101, '2025-07-13', 'Booked', nan, 2],
 [1, 101, '2025-07-14', 'Booked', nan, 2],
 [1, 101, '2025-07-15', 'Booked', nan, 2],
 [1, 101, '2025-07-16', 'Available', 444.04, 2],
 [1, 101, '2025-07-17', 'Available', 420.86, 2],
 [1, 101, '2025-07-18', 'Available', 410.15, 2],
 [1, 101, '2025-07-19', 'Available', 500.0, 2],
 [1, 101, '2025-07-20', 'Available', 500.0, 2],
 [1, 101, '2025-07-21', 'Available', 468.05, 2],
 [1, 101, '2025-07-22', 'Available', 444.18, 2],
 [1, 101, '2025-07-23', 'Available', 456.74, 2],
 [1, 101, '2025-07-24', 'Available', 421.37, 2],
 [1, 101, '2025-07-25', 'Booked', nan, 2],
 [1, 101, '2025-07-26', 'Booked', nan, 2],
 [1, 101, '2025-07-27', 'Booked', nan, 2],
 [1, 101, '2025-07-28', 'Booked', nan, 2],
 [1, 101, '2025-07-29', 'Booked', nan, 2],
 [1, 101, '2025-07-30', 'Booked', nan, 2],
 [1, 101, '2025-07-31', 'Booked', nan, 2],
 [1, 101, '2025-08-01', 'Booked', nan, 2],
 [1, 101, '2025-08-02', 'Booked', nan, 2],
 [1, 101, '2025-08-03', 'Booked', nan, 2],
 [1, 101, '2025-08-04', 'Booked', nan, 2],
 [1, 101, '2025-08-05', 'Booked', nan, 2],
 [1, 101, '2025-08-06', 'Booked', nan, 2],
 [1, 101, '2025-08-07', 'Booked', nan, 2],
 [1, 101, '2025-08-08', 'Booked', nan, 2],
 [1, 101, '2025-08-09', 'Booked', nan, 2],
 [1, 101, '2025-08-10', 'Booked', nan, 2],
 [1, 101, '2025-08-11', 'Booked', nan, 2],
 [1, 101, '2025-08-12', 'Available', 426.27, 2],
 [1, 101, '2025-08-13', 'Available', 464.5, 2],
 [1, 101, '2025-08-14', 'Available', 452.75, 2],
 [1, 101, '2025-08-15', 'Available', 494.77, 2],
 [1, 101, '2025-08-16', 'Booked', nan, 2],
 [1, 101, '2025-08-17', 'Booked', nan, 2],
 [1, 101, '2025-08-18', 'Booked', nan, 2],
 [1, 101, '2025-08-19', 'Booked', nan, 2],
 [1, 101, '2025-08-20', 'Booked', nan, 2],
 [1, 101, '2025-08-21', 'Booked', nan, 2],
 [1, 101, '2025-08-22', 'Booked', nan, 2],
 [1, 101, '2025-08-23', 'Booked', nan, 2],
 [1, 101, '2025-08-24', 'Booked', nan, 2],
 [1, 101, '2025-08-25', 'Booked', nan, 2],
 [1, 101, '2025-08-26', 'Booked', nan, 2],
 [1, 101, '2025-08-27', 'Booked', nan, 2],
 [1, 101, '2025-08-28', 'Booked', nan, 2],
 [1, 101, '2025-08-29', 'Booked', nan, 2],
 [1, 101, '2025-08-30', 'Booked', nan, 2],
 [1, 101, '2025-08-31', 'Booked', nan, 2],
 [1, 101, '2025-09-01', 'Booked', nan, 2],
 [1, 101, '2025-09-02', 'Booked', nan, 2],
 [1, 101, '2025-09-03', 'Booked', nan, 2],
 [1, 101, '2025-09-04', 'Booked', nan, 2],
 [1, 101, '2025-09-05', 'Booked', nan, 2],
 [1, 101, '2025-09-06', 'Booked', nan, 2],
 [1, 101, '2025-09-07', 'Booked', nan, 2],
 [1, 101, '2025-09-08', 'Available', 360.47, 2],
 [1, 101, '2025-09-09', 'Available', 365.44, 2],
 [1, 101, '2025-09-10', 'Available', 373.86, 2],
 [1, 101, '2025-09-11', 'Available', 363.2, 2],
 [1, 101, '2025-09-12', 'Available', 337.8, 2],
 [1, 101, '2025-09-13', 'Booked', nan, 2],
 [1, 101, '2025-09-14', 'Booked', nan, 2],
 [1, 101, '2025-09-15', 'Available', 321.2, 2],
 [1, 101, '2025-09-16', 'Available', 315.69, 2],
 [1, 101, '2025-09-17', 'Available', 369.51, 2],
 [1, 101, '2025-09-18', 'Available', 362.61, 2],
 [1, 101, '2025-09-19', 'Available', 348.2, 2],
 [1, 101, '2025-09-20', 'Available', 393.64, 2],
 [1, 101, '2025-09-21', 'Booked', nan, 2],
 [1, 101, '2025-09-22', 'Booked', nan, 2],
 [1, 101, '2025-09-23', 'Booked', nan, 2],
 [1, 101, '2025-09-24', 'Booked', nan, 2],
 [1, 101, '2025-09-25', 'Booked', nan, 2],
 [1, 101, '2025-09-26', 'Booked', nan, 2],
 [1, 101, '2025-09-27', 'Booked', nan, 2],
 [1, 101, '2025-09-28', 'Available', 438.72, 2],
 [1, 101, '2025-09-29', 'Available', 326.07, 2],
 [1, 101, '2025-09-30', 'Available', 341.59, 2],
 [1, 101, '2025-10-01', 'Available', 323.36, 2],
 [1, 101, '2025-10-02', 'Available', 338.84, 2],
 [1, 101, '2025-10-03', 'Available', 325.77, 2],
 [1, 101, '2025-10-04', 'Booked', nan, 2],
 [1, 101, '2025-10-05', 'Booked', nan, 2],
 [1, 101, '2025-10-06', 'Booked', nan, 2],
 [1, 101, '2025-10-07', 'Booked', nan, 2],
 [1, 101, '2025-10-08', 'Booked', nan, 2],
 [1, 101, '2025-10-09', 'Booked', nan, 2],
 [1, 101, '2025-10-10', 'Booked', nan, 2],
 [1, 101, '2025-10-11', 'Booked', nan, 2],
 [1, 101, '2025-10-12', 'Booked', nan, 2],
 [1, 101, '2025-10-13', 'Booked', nan, 2],
 [1, 101, '2025-10-14', 'Booked', nan, 2],
 [1, 101, '2025-10-15', 'Booked', nan, 2],
 [1, 101, '2025-10-16', 'Booked', nan, 2],
 [1, 101, '2025-10-17', 'Booked', nan, 2],
 [1, 101, '2025-10-18', 'Booked', nan, 2],
 [1, 101, '2025-10-19', 'Booked', nan, 2],
 [1, 101, '2025-10-20', 'Booked', nan, 2],
 [1, 101, '2025-10-21', 'Booked', nan, 2],
 [1, 101, '2025-10-22', 'Booked', nan, 2],
 [1, 101, '2025-10-23', 'Booked', nan, 2],
 [1, 101, '2025-10-24', 'Booked', nan, 2],
 [1, 101, '2025-10-25', 'Booked', nan, 2],
 [1, 101, '2025-10-26', 'Booked', nan, 2],
 [1, 101, '2025-10-27', 'Available', 370.7, 2],
 [1, 101, '2025-10-28', 'Available', 332.25, 2],
 [1, 101, '2025-10-29', 'Booked', nan, 2],
 [1, 101, '2025-10-30', 'Booked', nan, 2],
 [1, 101, '2025-10-31', 'Booked', nan, 2],
 [1, 101, '2025-11-01', 'Booked', nan, 2],
 [1, 101, '2025-11-02', 'Available', 396.68, 2],
 [1, 101, '2025-11-03', 'Available', 324.32, 2],
 [1, 101, '2025-11-04', 'Available', 332.22, 2],
 [1, 101, '2025-11-05', 'Available', 349.62, 2],
 [1, 101, '2025-11-06', 'Booked', nan, 2],
 [1, 101, '2025-11-07', 'Available', 374.13, 2],
 [1, 101, '2025-11-08', 'Available', 382.95, 2],
 [1, 101, '2025-11-09', 'Available', 440.34, 2],
 [1, 101, '2025-11-10', 'Booked', nan, 2],
 [1, 101, '2025-11-11', 'Booked', nan, 2],
 [1, 101, '2025-11-12', 'Booked', nan, 2],
 [1, 101, '2025-11-13', 'Booked', nan, 2],
 [1, 101, '2025-11-14', 'Booked', nan, 2],
 [1, 101, '2025-11-15', 'Booked', nan, 2],
 [1, 101, '2025-11-16', 'Booked', nan, 2],
 [1, 101, '2025-11-17', 'Booked', nan, 2],
 [1, 101, '2025-11-18', 'Booked', nan, 2],
 [1, 101, '2025-11-19', 'Booked', nan, 2],
 [1, 101, '2025-11-20', 'Booked', nan, 2],
 [1, 101, '2025-11-21', 'Available', 327.56, 2],
 [1, 101, '2025-11-22', 'Available', 392.21, 2],
 [1, 101, '2025-11-23', 'Available', 394.1, 2],
 [1, 101, '2025-11-24', 'Available', 340.14, 2],
 [1, 101, '2025-11-25', 'Available', 359.79, 2],
 [1, 101, '2025-11-26', 'Available', 327.75, 2],
 [1, 101, '2025-11-27', 'Available', 336.45, 2],
 [1, 101, '2025-11-28', 'Available', 380.32, 2],
 [1, 101, '2025-11-29', 'Available', 398.77, 2],
 [1, 101, '2025-11-30', 'Available', 415.83, 2],
 [1, 101, '2025-12-01', 'Booked', nan, 2],
 [1, 101, '2025-12-02', 'Booked', nan, 2],
 [1, 101, '2025-12-03', 'Booked', nan, 2],
 [1, 101, '2025-12-04', 'Available', 500.0, 2],
 [1, 101, '2025-12-05', 'Available', 491.68, 2],
 [1, 101, '2025-12-06', 'Available', 500.0, 2],
 [1, 101, '2025-12-07', 'Booked', nan, 2],
 [1, 101, '2025-12-08', 'Booked', nan, 2],
 [1, 101, '2025-12-09', 'Booked', nan, 2],
 [1, 101, '2025-12-10', 'Booked', nan, 2],
 [1, 101, '2025-12-11', 'Booked', nan, 2],
 [1, 101, '2025-12-12', 'Booked', nan, 2],
 [1, 101, '2025-12-13', 'Booked', nan, 2],
 [1, 101, '2025-12-14', 'Booked', nan, 2],
 [1, 101, '2025-12-15', 'Booked', nan, 2],
 [1, 101, '2025-12-16', 'Booked', nan, 2],
 [1, 101, '2025-12-17', 'Booked', nan, 2],
 [1, 101, '2025-12-18', 'Available', 496.18, 2],
 [1, 101, '2025-12-19', 'Available', 500.0, 2],
 [1, 101, '2025-12-20', 'Available', 500.0, 2],
 [1, 101, '2025-12-21', 'Available', 500.0, 2],
 [1, 101, '2025-12-22', 'Available', 448.18, 2],
 [1, 101, '2025-12-23', 'Available', 490.83, 2],
 [1, 101, '2025-12-24', 'Available', 500.0, 2],
 [1, 101, '2025-12-25', 'Available', 475.4, 2],
 [1, 101, '2025-12-26', 'Available', 441.65, 2],
 [1, 101, '2025-12-27', 'Available', 500.0, 2],
 [1, 101, '2025-12-28', 'Available', 500.0, 2],
 [1, 101, '2025-12-29', 'Available', 498.91, 2],
 [1, 101, '2025-12-30', 'Available', 500.0, 2],
 [1, 101, '2025-12-31', 'Available', 496.96, 2],
 [1, 101, '2026-01-01', 'Available', 468.24, 2],
 [1, 101, '2026-01-02', 'Available', 483.53, 2],
 [1, 101, '2026-01-03', 'Available', 500.0, 2],
 [2, 102, '2025-01-04', 'Booked', nan, 2],
 [2, 102, '2025-01-05', 'Booked', nan, 2],
 [2, 102, '2025-01-06', 'Booked', nan, 2],
 [2, 102, '2025-01-07', 'Booked', nan, 2],
 [2, 102, '2025-01-08', 'Booked', nan, 2],
 [2, 102, '2025-01-09', 'Booked', nan, 2],
 [2, 102, '2025-01-10', 'Booked', nan, 2],
 [2, 102, '2025-01-11', 'Booked', nan, 2],
 [2, 102, '2025-01-12', 'Booked', nan, 2],
 [2, 102, '2025-01-13', 'Booked', nan, 2],
 [2, 102, '2025-01-14', 'Booked', nan, 2],
 [2, 102, '2025-01-15', 'Booked', nan, 2],
 [2, 102, '2025-01-16', 'Booked', nan, 2],
 [2, 102, '2025-01-17', 'Booked', nan, 2],
 [2, 102, '2025-01-18', 'Booked', nan, 2],
 [2, 102, '2025-01-19', 'Booked', nan, 2],
 [2, 102, '2025-01-20', 'Booked', nan, 2],
 [2, 102, '2025-01-21', 'Booked', nan, 2],
 [2, 102, '2025-01-22', 'Available', 500.0, 2],
 [2, 102, '2025-01-23', 'Available', 500.0, 2],
 [2, 102, '2025-01-24', 'Available', 460.47, 2],
 [2, 102, '2025-01-25', 'Available', 500.0, 2],
 [2, 102, '2025-01-26', 'Available', 500.0, 2],
 [2, 102, '2025-01-27', 'Booked', nan, 2],
 [2, 102, '2025-01-28', 'Booked', nan, 2],
 [2, 102, '2025-01-29', 'Booked', nan, 2],
 [2, 102, '2025-01-30', 'Booked', nan, 2],
 [2, 102, '2025-01-31', 'Booked', nan, 2],
 [2, 102, '2025-02-01', 'Booked', nan, 2],
 [2, 102, '2025-02-02', 'Booked', nan, 2],
 [2, 102, '2025-02-03', 'Available', 384.49, 2],
 [2, 102, '2025-02-04', 'Available', 347.8, 2],
 [2, 102, '2025-02-05', 'Available', 347.54, 2],
 [2, 102, '2025-02-06', 'Available', 364.11, 2],
 [2, 102, '2025-02-07', 'Available', 349.47, 2],
 [2, 102, '2025-02-08', 'Available', 457.14, 2],
 [2, 102, '2025-02-09', 'Available', 422.71, 2],
 [2, 102, '2025-02-10', 'Available', 346.47, 2],
 [2, 102, '2025-02-11', 'Available', 380.34, 2],
 [2, 102, '2025-02-12', 'Available', 367.39, 2],
 [2, 102, '2025-02-13', 'Available', 333.75, 2],
 [2, 102, '2025-02-14', 'Available', 316.84, 2],
 [2, 102, '2025-02-15', 'Booked', nan, 2],
 [2, 102, '2025-02-16', 'Booked', nan, 2],
 [2, 102, '2025-02-17', 'Booked', nan, 2],
 [2, 102, '2025-02-18', 'Booked', nan, 2],
 [2, 102, '2025-02-19', 'Booked', nan, 2],
 [2, 102, '2025-02-20', 'Booked', nan, 2],
 [2, 102, '2025-02-21', 'Booked', nan, 2],
 [2, 102, '2025-02-22', 'Available', 385.37, 2],
 [2, 102, '2025-02-23', 'Booked', nan, 2],
 [2, 102, '2025-02-24', 'Booked', nan, 2],
 [2, 102, '2025-02-25', 'Booked', nan, 2],
 [2, 102, '2025-02-26', 'Booked', nan, 2],
 [2, 102, '2025-02-27', 'Booked', nan, 2],
 [2, 102, '2025-02-28', 'Booked', nan, 2],
 [2, 102, '2025-03-01', 'Booked', nan, 2],
 [2, 102, '2025-03-02', 'Booked', nan, 2],
 [2, 102, '2025-03-03', 'Booked', nan, 2],
 [2, 102, '2025-03-04', 'Booked', nan, 2],
 [2, 102, '2025-03-05', 'Booked', nan, 2],
 [2, 102, '2025-03-06', 'Available', 350.81, 2],
 [2, 102, '2025-03-07', 'Available', 377.75, 2],
 [2, 102, '2025-03-08', 'Booked', nan, 2],
 [2, 102, '2025-03-09', 'Booked', nan, 2],
 [2, 102, '2025-03-10', 'Booked', nan, 2],
 [2, 102, '2025-03-11', 'Booked', nan, 2],
 [2, 102, '2025-03-12', 'Booked', nan, 2],
 [2, 102, '2025-03-13', 'Booked', nan, 2],
 [2, 102, '2025-03-14', 'Booked', nan, 2],
 [2, 102, '2025-03-15', 'Booked', nan, 2],
 [2, 102, '2025-03-16', 'Booked', nan, 2],
 [2, 102, '2025-03-17', 'Booked', nan, 2],
 [2, 102, '2025-03-18', 'Booked', nan, 2],
 [2, 102, '2025-03-19', 'Available', 378.06, 2],
 [2, 102, '2025-03-20', 'Booked', nan, 2],

Create the status enum string

In [171]:
availability_status_type = df_room_availability['status'].unique().tolist()
availability_status_type_str = "('" + "', '".join(availability_status_type) + "')"
availability_status_type_str

"('Booked', 'Available', 'Maintenance')"

This enum also has a problem with psycopg confusing it with the status enum for the rooms table.

In [183]:
from enum import Enum

class AvailabilityStatusType(Enum):
    Booked = "Booked"
    Available = "Available"
    Maintenance = "Maintenance"
    
enum_availability_status_type_mapping = {"Booked":AvailabilityStatusType.Booked, "Available":AvailabilityStatusType.Available, "Maintenance":AvailabilityStatusType.Maintenance}

In [184]:
df_room_availability['status'] = df_room_availability['status'].apply(lambda x: enum_availability_status_type_mapping[x])
df_room_availability

,room_id,room_number,date,status,price,max_occupancy
0,1,101,2025-01-04,AvailabilityStatusType.Booked,NaN,2
1,1,101,2025-01-05,AvailabilityStatusType.Booked,NaN,2
2,1,101,2025-01-06,AvailabilityStatusType.Booked,NaN,2
3,1,101,2025-01-07,AvailabilityStatusType.Booked,NaN,2
4,1,101,2025-01-08,AvailabilityStatusType.Booked,NaN,2
...,...,...,...,...,...,...
218995,600,2030,2025-12-30,AvailabilityStatusType.Booked,NaN,6
218996,600,2030,2025-12-31,AvailabilityStatusType.Booked,NaN,6
218997,600,2030,2026-01-01,AvailabilityStatusType.Booked,NaN,6
218998,600,2030,2026-01-02,AvailabilityStatusType.Available,4617.6,6
218999,600,2030,2026-01-03,AvailabilityStatusType.Available,5000.0,6

In [202]:

with psycopg.connect(neon_conn_string) as neon_conn:
    print("Connection established")
    # Open a cursor to perform database operations
    with neon_conn.cursor() as cur:
        # Drop the table if it already exists
        cur.execute("DROP TABLE IF EXISTS room_availability;")
        cur.execute("DROP TYPE IF EXISTS availability_status_type CASCADE;")
        print("Finished dropping table and enum (if they existed).")
        
        cur.execute(f"CREATE TYPE availability_status_type AS ENUM {availability_status_type_str};")
        # Create a new table
        cur.execute("""
            CREATE TABLE room_availability (
                id INT GENERATED BY DEFAULT AS IDENTITY PRIMARY KEY,
                room_id INT NOT NULL,
                room_number INT NOT NULL,
                date DATE NOT NULL,
                status availability_status_type,
                price NUMERIC(8,2),
                max_occupancy INT,
                FOREIGN KEY (room_id) REFERENCES rooms(room_id)
            );
        """)
        print("Finished creating table.")
        
    # availability_status_type enum special treatment
    info = EnumInfo.fetch(neon_conn, "availability_status_type")
    register_enum(info, context=neon_conn, enum=AvailabilityStatusType)
    
    with neon_conn.cursor() as cur:
        # Insert room availability data
        cur.executemany(
            "INSERT INTO room_availability (room_id, room_number, date, status, price, max_occupancy) VALUES (%s, %s, %s, %s, %s, %s);",
            df_room_availability.values.tolist(),
        )
        print("Inserted data.")

Connection established
Finished dropping table and enum (if they existed).
Finished creating table.
Inserted data.

In [ ]:
try:
    with psycopg.connect(neon_conn_string) as neon_conn:
        print("Connection established")
        # Open a cursor to perform database operations
        with neon_conn.cursor() as cur:
            # Drop the table if it already exists
            cur.execute("SELECT COUNT(*) FROM room_availability")
            print(cur.fetchall())
except Exception as e:
    print("Connection failed.")
    print(e)

Connection established
[(219000,)]

In [10]:
with psycopg.connect(neon_conn_string) as neon_conn:
    print("Connection established")
    # Open a cursor to perform database operations
    with neon_conn.cursor() as cur:
        # Drop the table if it already exists
        cur.execute("""SELECT DISTINCT element FROM (
                SELECT unnest(basic_amenities) AS element
                FROM rooms
                UNION ALL
                SELECT unnest(additional_amenities) AS element
                FROM rooms);""")
        print(cur.fetchall())

Connection established
[('Executive Office',), ('High-Speed WiFi',), ('Welcome Amenity',), ('Private Chef Available',), ('Private Terrace',), ('Guest Bathroom',), ('Steam Room',), ('Living Room',), ('Luxury Welcome Amenity',), ('Bang & Olufsen Sound System',), ('Ultra-High-Speed WiFi',), ('Steam Shower',), ('Multiple 75" Smart TVs',), ('Sauna',), ('Panoramic Ocean View',), ('Soaking Tub',), ('Balcony',), ('Multiple Bathrooms',), ('Dining Area',), ('City View',), ('Dedicated Concierge',), ('Corner View',), ('Designer Slippers',), ('Ocean View',), ('Butler Service',), ('Formal Dining Room',), ('Private Bar',), ('Lounge Access',), ('Mini Fridge',), ('Frette Bathrobes',), ('Full Kitchen',), ('Nespresso Machine',), ('Premium Coffee Maker',), ('Wine Fridge',), ('Premium Bathrobes',), ('Kitchenette',), ('Private Gym Equipment',), ('Bathrobes',), ("Butler's Pantry",), ('Full-Size Refrigerator',), ('55" Smart TV',), ('Bluetooth Speaker',), ('Professional Coffee Bar',), ('Pool View',), ('Air Conditioning',), ('Grand Piano',), ('Work Desk',), ('Private Pool',), ('In-Room Safe',), ('Smart TV',), ('Living Room Area',), ('Personalized Stationery',), ('Hair Dryer',), ('Walk-in Closet',), ('Bose Sound System',), ('Jacuzzi Tub',), ('65" Smart TV',), ('Slippers',), ('Luxury Car Service',), ('Evening Turndown Service',), ('Courtyard View',), ('Executive Work Desk',), ('Microwave',), ('Wraparound Balcony',), ('Private Butler Service',), ('Executive Lounge Access',), ('Fresh Flowers Daily',)]

In [11]:
from openai import OpenAI

class NL2SQLAgent:
    def __init__(self, db_conn, llm_conn):
        self.db = db_conn
        self.llm = llm_conn
        self._get_enums()
        self._get_amenities()
        self._get_view_types()

    def _get_enums(self):
        with psycopg.connect(neon_conn_string) as neon_conn:
            with neon_conn.cursor() as cur:
                cur.execute("SELECT enum_range(NULL::room_type);")
                self.room_type_enum = cur.fetchall()[0][0]
                cur.execute("SELECT enum_range(NULL::room_bed_type);")
                self.room_bed_type_enum = cur.fetchall()[0][0]
                cur.execute("SELECT enum_range(NULL::room_status_type);")
                self.room_status_type_enum = cur.fetchall()[0][0]
                cur.execute("SELECT enum_range(NULL::availability_status_type);")
                self.availability_status_type_enum = cur.fetchall()[0][0]
                
    def _get_amenities(self):
        with psycopg.connect(neon_conn_string) as neon_conn:
            with neon_conn.cursor() as cur:
                cur.execute("SELECT DISTINCT unnest(basic_amenities) FROM rooms;")
                self.basic_amenities = cur.fetchall()
                cur.execute("SELECT DISTINCT unnest(additional_amenities) FROM rooms;")
                self.additional_amenities = cur.fetchall()
                
    def _get_view_types(self):
        with psycopg.connect(neon_conn_string) as neon_conn:
            with neon_conn.cursor() as cur:
                cur.execute("SELECT DISTINCT unnest(view_type) FROM rooms;")
                self.view_types = cur.fetchall()
                
    def handle_nl_query(self, query: str):
        instructions = f"""
            You are a SQL query writer. Given the user's input, write a query that, when
            passed to a PostgreSQL database, will gather the data necessary to answer
            the user's query.
            
            You have access to the rooms table, which provides information about the hotel
            with the following columns:
             - room_id: Primary key for the table
             - room_number: The room number
             - floor: The floor the room is on
             - type: The type of room, one of the SQL enum {self.room_type_enum}
             - square_feet: The size of the room in square feet
             - basic_amenities: Array of the basic amenities found in the room, chosen from the SQL list {self.basic_amenities}
             - additional_amenities: Array of additional amenities found in the room, chosen from the SQL list {self.additional_amenities}
             - max_occupancy: The maximum number of people allowed to stay in the room
             - bed_type: The type of bed(s) found in the room, one of the SQL enum {self.room_bed_type_enum}
             - view_type: Array of the views provided by the room, chosen from the SQL list {self.view_types}
             - accessibility: A boolean specifying whether the room is handicapped accessible
             - status: Ignore this
             - last_renovation: When the room was last renovated
             - base_rate: The base price a night in the room can be booked for
             - max_rate: The maximum price charge to book the room for the night
            
            You have access to the table room_availability, which provides information
            on the availability of rooms in a hotel, with the following columns:
             - room_id: Foreign key referring to the room_id in the rooms table
             - room_number: The room number
             - date: The date the availability information in this row is for
             - status: Whether the room is available or not. Options are Available, Booked, and Maintenance.
             - price: The current price to book the room for that date
             - max_occupancy: The maximum number of people who can stay in the room
        """
        
        return self.llm.responses.create(
            model="gpt-5-mini",
            instructions=instructions,
            input=query,
        )
    
neon_conn = psycopg.connect(neon_conn_string)
openai_conn = OpenAI(api_key=os.environ.get("OPENAI_API_KEY"))
nl_2_sql_agent = NL2SQLAgent(neon_conn, openai_conn)

In [12]:
def parse_to_sql(nl_query: str) -> str:
    return nl_2_sql_agent.handle_nl_query(nl_query)

In [17]:
def test_nl2sql():
    query = 'Show me rooms with a view of the courtyard and a 55" TV'
    sql = parse_to_sql(query)
    return sql
    
response_query = test_nl2sql()

In [18]:
print(response_query.output_text)

SELECT
  room_id,
  room_number,
  floor,
  type,
  square_feet,
  bed_type,
  max_occupancy,
  accessibility,
  last_renovation,
  base_rate,
  max_rate,
  basic_amenities,
  additional_amenities,
  view_type
FROM rooms
WHERE 'Courtyard View' = ANY(view_type)
  AND '55" Smart TV' = ANY(basic_amenities)
ORDER BY floor, room_number;

In [15]:
neon_conn.execute(response_query.output_text).fetchall()

[(109,
  419,
  4,
  'Standard',
  'Double Queen',
  2,
  2,
  430,
  Decimal('350.00'),
  Decimal('500.00'),
  Decimal('386.26'),
  ['City View', 'Courtyard View'],
  ['Air Conditioning',
   'Smart TV',
   'Premium Coffee Maker',
   'Mini Fridge',
   'Hair Dryer',
   'In-Room Safe',
   'Work Desk',
   'High-Speed WiFi',
   'Bathrobes',
   'Slippers'],
  ['City View', 'Evening Turndown Service', 'Courtyard View'],
  False,
  datetime.date(2022, 9, 9)),
 (45,
  215,
  2,
  'Standard',
  'Queen',
  2,
  2,
  442,
  Decimal('350.00'),
  Decimal('500.00'),
  Decimal('388.67'),
  ['Courtyard View'],
  ['Air Conditioning',
   'Smart TV',
   'Premium Coffee Maker',
   'Mini Fridge',
   'Hair Dryer',
   'In-Room Safe',
   'Work Desk',
   'High-Speed WiFi',
   'Bathrobes',
   'Slippers'],
  ['Courtyard View'],
  False,
  datetime.date(2024, 4, 8)),
 (43,
  213,
  2,
  'Standard',
  'Queen',
  2,
  2,
  371,
  Decimal('350.00'),
  Decimal('500.00'),
  Decimal('390.95'),
  ['City View', 'Courtyard View'],
  ['Air Conditioning',
   'Smart TV',
   'Premium Coffee Maker',
   'Mini Fridge',
   'Hair Dryer',
   'In-Room Safe',
   'Work Desk',
   'High-Speed WiFi',
   'Bathrobes',
   'Slippers'],
  ['City View', 'Evening Turndown Service', 'Courtyard View'],
  False,
  datetime.date(2023, 9, 28)),
 (48,
  218,
  2,
  'Standard',
  'Queen',
  2,
  2,
  436,
  Decimal('350.00'),
  Decimal('500.00'),
  Decimal('392.57'),
  ['Courtyard View'],
  ['Air Conditioning',
   'Smart TV',
   'Premium Coffee Maker',
   'Mini Fridge',
   'Hair Dryer',
   'In-Room Safe',
   'Work Desk',
   'High-Speed WiFi',
   'Bathrobes',
   'Slippers'],
  ['Courtyard View'],
  True,
  datetime.date(2024, 4, 15)),
 (5,
  105,
  1,
  'Standard',
  'Double Queen',
  2,
  2,
  373,
  Decimal('350.00'),
  Decimal('500.00'),
  Decimal('392.70'),
  ['City View', 'Courtyard View'],
  ['Air Conditioning',
   'Smart TV',
   'Premium Coffee Maker',
   'Mini Fridge',
   'Hair Dryer',
   'In-Room Safe',
   'Work Desk',
   'High-Speed WiFi',
   'Bathrobes',
   'Slippers'],
  ['Courtyard View', 'City View', 'Evening Turndown Service'],
  True,
  datetime.date(2024, 4, 13)),
 (74,
  314,
  3,
  'Standard',
  'Queen',
  2,
  2,
  398,
  Decimal('350.00'),
  Decimal('500.00'),
  Decimal('394.77'),
  ['City View', 'Courtyard View'],
  ['Air Conditioning',
   'Smart TV',
   'Premium Coffee Maker',
   'Mini Fridge',
   'Hair Dryer',
   'In-Room Safe',
   'Work Desk',
   'High-Speed WiFi',
   'Bathrobes',
   'Slippers'],
  ['Courtyard View', 'City View', 'Evening Turndown Service'],
  False,
  datetime.date(2023, 5, 12)),
 (82,
  322,
  3,
  'Standard',
  'Queen',
  2,
  2,
  396,
  Decimal('350.00'),
  Decimal('500.00'),
  Decimal('398.97'),
  ['City View', 'Courtyard View'],
  ['Air Conditioning',
   'Smart TV',
   'Premium Coffee Maker',
   'Mini Fridge',
   'Hair Dryer',
   'In-Room Safe',
   'Work Desk',
   'High-Speed WiFi',
   'Bathrobes',
   'Slippers'],
  ['City View', 'Evening Turndown Service', 'Courtyard View'],
  False,
  datetime.date(2023, 4, 6)),
 (90,
  330,
  3,
  'Standard',
  'Queen',
  2,
  2,
  400,
  Decimal('350.00'),
  Decimal('500.00'),
  Decimal('399.43'),
  ['City View', 'Courtyard View'],
  ['Air Conditioning',
   'Smart TV',
   'Premium Coffee Maker',
   'Mini Fridge',
   'Hair Dryer',
   'In-Room Safe',
   'Work Desk',
   'High-Speed WiFi',
   'Bathrobes',
   'Slippers'],
  ['Courtyard View', 'Evening Turndown Service', 'City View'],
  False,
  datetime.date(2024, 6, 19)),
 (116,
  426,
  4,
  'Standard',
  'Queen',
  2,
  2,
  371,
  Decimal('350.00'),
  Decimal('500.00'),
  Decimal('400.50'),
  ['Courtyard View'],
  ['Air Conditioning',
   'Smart TV',
   'Premium Coffee Maker',
   'Mini Fridge',
   'Hair Dryer',
   'In-Room Safe',
   'Work Desk',
   'High-Speed WiFi',
   'Bathrobes',
   'Slippers'],
  ['Evening Turndown Service', 'Courtyard View'],
  False,
  datetime.date(2022, 11, 20)),
 (21,
  121,
  1,
  'Standard',
  'Double Queen',
  2,
  2,
  384,
  Decimal('350.00'),
  Decimal('500.00'),
  Decimal('402.15'),
  ['City View', 'Courtyard View'],
  ['Air Conditioning',
   'Smart TV',
   'Premium Coffee Maker',
   'Mini Fridge',
   'Hair Dryer',
   'In-Room Safe',
   'Work Desk',
   'High-Speed WiFi',
   'Bathrobes',
   'Slippers'],
  ['Courtyard View', 'City View', 'Evening Turndown Service'],
  True,
  datetime.date(2022, 7, 14)),
 (105,
  415,
  4,
  'Standard',
  'Queen',
  2,
  2,
  402,
  Decimal('350.00'),
  Decimal('500.00'),
  Decimal('402.43'),
  ['City View', 'Courtyard View'],
  ['Air Conditioning',
   'Smart TV',
   'Premium Coffee Maker',
   'Mini Fridge',
   'Hair Dryer',
   'In-Room Safe',
   'Work Desk',
   'High-Speed WiFi',
   'Bathrobes',
   'Slippers'],
  ['Evening Turndown Service', 'Courtyard View', 'City View'],
  False,
  datetime.date(2022, 2, 7)),
 (89,
  329,
  3,
  'Standard',
  'Queen',
  2,
  2,
  351,
  Decimal('350.00'),
  Decimal('500.00'),
  Decimal('403.45'),
  ['City View', 'Courtyard View'],
  ['Air Conditioning',
   'Smart TV',
   'Premium Coffee Maker',
   'Mini Fridge',
   'Hair Dryer',
   'In-Room Safe',
   'Work Desk',
   'High-Speed WiFi',
   'Bathrobes',
   'Slippers'],
  ['City View', 'Evening Turndown Service', 'Courtyard View'],
  False,
  datetime.date(2024, 8, 5)),
 (63,
  303,
  3,
  'Standard',
  'Double Queen',
  2,
  2,
  432,
  Decimal('350.00'),
  Decimal('500.00'),
  Decimal('403.66'),
  ['Courtyard View'],
  ['Air Conditioning',
   'Smart TV',
   'Premium Coffee Maker',
   'Mini Fridge',
   'Hair Dryer',
   'In-Room Safe',
   'Work Desk',
   'High-Speed WiFi',
   'Bathrobes',
   'Slippers'],
  ['Courtyard View', 'Evening Turndown Service'],
  True,
  datetime.date(2023, 10, 30)),
 (35,
  205,
  2,
  'Standard',
  'Double Queen',
  2,
  2,
  433,
  Decimal('350.00'),
  Decimal('500.00'),
  Decimal('405.53'),
  ['City View', 'Courtyard View'],
  ['Air Conditioning',
   'Smart TV',
   'Premium Coffee Maker',
   'Mini Fridge',
   'Hair Dryer',
   'In-Room Safe',
   'Work Desk',
   'High-Speed WiFi',
   'Bathrobes',
   'Slippers'],
  ['City View', 'Courtyard View', 'Evening Turndown Service'],
  False,
  datetime.date(2024, 6, 21)),
 (28,
  128,
  1,
  'Standard',
  'Queen',
  2,
  2,
  449,
  Decimal('350.00'),
  Decimal('500.00'),
  Decimal('406.27'),
  ['City View', 'Courtyard View'],
  ['Air Conditioning',
   'Smart TV',
   'Premium Coffee Maker',
   'Mini Fridge',
   'Hair Dryer',
   'In-Room Safe',
   'Work Desk',
   'High-Speed WiFi',
   'Bathrobes',
   'Slippers'],
  ['City View', 'Courtyard View'],
  False,
  datetime.date(2022, 10, 2)),
 (14,
  114,
  1,
  'Standard',
  'Double Queen',
  2,
  2,
  411,
  Decimal('350.00'),
  Decimal('500.00'),
  Decimal('410.96'),
  ['Courtyard View'],
  ['Air Conditioning',
   'Smart TV',
   'Premium Coffee Maker',
   'Mini Fridge',
   'Hair Dryer',
   'In-Room Safe',
   'Work Desk',
   'High-Speed WiFi',
   'Bathrobes',
   'Slippers'],
  ['Courtyard View'],
  False,
  datetime.date(2023, 11, 17)),
 (119,
  429,
  4,
  'Standard',
  'Queen',
  2,
  2,
  414,
  Decimal('350.00'),
  Decimal('500.00'),
  Decimal('411.82'),
  ['City View', 'Courtyard View'],
  ['Air Conditioning',
   'Smart TV',
   'Premium Coffee Maker',
   'Mini Fridge',
   'Hair Dryer',
   'In-Room Safe',
   'Work Desk',
   'High-Speed WiFi',
   'Bathrobes',
   'Slippers'],
  ['Courtyard View', 'City View', 'Evening Turndown Service'],
  False,
  datetime.date(2024, 3, 24)),
 (68,
  308,
  3,
  'Standard',
  'Double Queen',
  2,
  2,
  443,
  Decimal('350.00'),
  Decimal('500.00'),
  Decimal('412.59'),
  ['City View', 'Courtyard View'],
  ['Air Conditioning',
   'Smart TV',
   'Premium Coffee Maker',
   'Mini Fridge',
   'Hair Dryer',
   'In-Room Safe',
   'Work Desk',
   'High-Speed WiFi',
   'Bathrobes',
   'Slippers'],
  ['Courtyard View', 'Evening Turndown Service', 'City View'],
  False,
  datetime.date(2024, 8, 28)),
 (42,
  212,
  2,
  'Standard',
  'Double Queen',
  2,
  2,
  388,
  Decimal('350.00'),
  Decimal('500.00'),
  Decimal('416.77'),
  ['City View', 'Courtyard View'],
  ['Air Conditioning',
   'Smart TV',
   'Premium Coffee Maker',
   'Mini Fridge',
   'Hair Dryer',
   'In-Room Safe',
   'Work Desk',
   'High-Speed WiFi',
   'Bathrobes',
   'Slippers'],
  ['City View', 'Courtyard View', 'Evening Turndown Service'],
  False,
  datetime.date(2023, 7, 17)),
 (52,
  222,
  2,
  'Standard',
  'Double Queen',
  2,
  2,
  372,
  Decimal('350.00'),
  Decimal('500.00'),
  Decimal('418.37'),
  ['City View', 'Courtyard View'],
  ['Air Conditioning',
   'Smart TV',
   'Premium Coffee Maker',
   'Mini Fridge',
   'Hair Dryer',
   'In-Room Safe',
   'Work Desk',
   'High-Speed WiFi',
   'Bathrobes',
   'Slippers'],
  ['City View', 'Evening Turndown Service', 'Courtyard View'],
  False,
  datetime.date(2023, 11, 7)),
 (33,
  203,
  2,
  'Standard',
  'Queen',
  2,
  2,
  431,
  Decimal('350.00'),
  Decimal('500.00'),
  Decimal('421.45'),
  ['Courtyard View'],
  ['Air Conditioning',
   'Smart TV',
   'Premium Coffee Maker',
   'Mini Fridge',
   'Hair Dryer',
   'In-Room Safe',
   'Work Desk',
   'High-Speed WiFi',
   'Bathrobes',
   'Slippers'],
  ['Courtyard View', 'Evening Turndown Service'],
  False,
  datetime.date(2023, 12, 4)),
 (78,
  318,
  3,
  'Standard',
  'Double Queen',
  2,
  2,
  356,
  Decimal('350.00'),
  Decimal('500.00'),
  Decimal('425.22'),
  ['City View', 'Courtyard View'],
  ['Air Conditioning',
   'Smart TV',
   'Premium Coffee Maker',
   'Mini Fridge',
   'Hair Dryer',
   'In-Room Safe',
   'Work Desk',
   'High-Speed WiFi',
   'Bathrobes',
   'Slippers'],
  ['City View', 'Courtyard View', 'Evening Turndown Service'],
  False,
  datetime.date(2023, 3, 12)),
 (70,
  310,
  3,
  'Standard',
  'Queen',
  2,
  2,
  421,
  Decimal('350.00'),
  Decimal('500.00'),
  Decimal('427.04'),
  ['Courtyard View'],
  ['Air Conditioning',
   'Smart TV',
   'Premium Coffee Maker',
   'Mini Fridge',
   'Hair Dryer',
   'In-Room Safe',
   'Work Desk',
   'High-Speed WiFi',
   'Bathrobes',
   'Slippers'],
  ['Courtyard View'],
  False,
  datetime.date(2022, 10, 18)),
 (56,
  226,
  2,
  'Standard',
  'Double Queen',
  2,
  2,
  412,
  Decimal('350.00'),
  Decimal('500.00'),
  Decimal('428.16'),
  ['City View', 'Courtyard View'],
  ['Air Conditioning',
   'Smart TV',
   'Premium Coffee Maker',
   'Mini Fridge',
   'Hair Dryer',
   'In-Room Safe',
   'Work Desk',
   'High-Speed WiFi',
   'Bathrobes',
   'Slippers'],
  ['City View', 'Evening Turndown Service', 'Courtyard View'],
  False,
  datetime.date(2023, 8, 9)),
 (26,
  126,
  1,
  'Standard',
  'Double Queen',
  2,
  2,
  442,
  Decimal('350.00'),
  Decimal('500.00'),
  Decimal('429.45'),
  ['City View', 'Courtyard View'],
  ['Air Conditioning',
   'Smart TV',
   'Premium Coffee Maker',
   'Mini Fridge',
   'Hair Dryer',
   'In-Room Safe',
   'Work Desk',
   'High-Speed WiFi',
   'Bathrobes',
   'Slippers'],
  ['City View', 'Courtyard View'],
  False,
  datetime.date(2023, 3, 4)),
 (39,
  209,
  2,
  'Standard',
  'Queen',
  2,
  2,
  361,
  Decimal('350.00'),
  Decimal('500.00'),
  Decimal('430.09'),
  ['Courtyard View'],
  ['Air Conditioning',
   'Smart TV',
   'Premium Coffee Maker',
   'Mini Fridge',
   'Hair Dryer',
   'In-Room Safe',
   'Work Desk',
   'High-Speed WiFi',
   'Bathrobes',
   'Slippers'],
  ['Courtyard View'],
  False,
  datetime.date(2024, 9, 28)),
 (32,
  202,
  2,
  'Standard',
  'Queen',
  2,
  2,
  376,
  Decimal('350.00'),
  Decimal('500.00'),
  Decimal('433.23'),
  ['City View', 'Courtyard View'],
  ['Air Conditioning',
   'Smart TV',
   'Premium Coffee Maker',
   'Mini Fridge',
   'Hair Dryer',
   'In-Room Safe',
   'Work Desk',
   'High-Speed WiFi',
   'Bathrobes',
   'Slippers'],
  ['Courtyard View', 'City View', 'Evening Turndown Service'],
  False,
  datetime.date(2023, 6, 15)),
 (31,
  201,
  2,
  'Standard',
  'Double Queen',
  2,
  2,
  437,
  Decimal('350.00'),
  Decimal('500.00'),
  Decimal('433.42'),
  ['City View', 'Courtyard View'],
  ['Air Conditioning',
   'Smart TV',
   'Premium Coffee Maker',
   'Mini Fridge',
   'Hair Dryer',
   'In-Room Safe',
   'Work Desk',
   'High-Speed WiFi',
   'Bathrobes',
   'Slippers'],
  ['Evening Turndown Service', 'City View', 'Courtyard View'],
  True,
  datetime.date(2022, 1, 17)),
 (17,
  117,
  1,
  'Standard',
  'Queen',
  2,
  2,
  409,
  Decimal('350.00'),
  Decimal('500.00'),
  Decimal('435.00'),
  ['Courtyard View'],
  ['Air Conditioning',
   'Smart TV',
   'Premium Coffee Maker',
   'Mini Fridge',
   'Hair Dryer',
   'In-Room Safe',
   'Work Desk',
   'High-Speed WiFi',
   'Bathrobes',
   'Slippers'],
  ['Courtyard View', 'Evening Turndown Service'],
  False,
  datetime.date(2023, 8, 10)),
 (22,
  122,
  1,
  'Standard',
  'Double Queen',
  2,
  2,
  392,
  Decimal('350.00'),
  Decimal('500.00'),
  Decimal('437.64'),
  ['City View', 'Courtyard View'],
  ['Air Conditioning',
   'Smart TV',
   'Premium Coffee Maker',
   'Mini Fridge',
   'Hair Dryer',
   'In-Room Safe',
   'Work Desk',
   'High-Speed WiFi',
   'Bathrobes',
   'Slippers'],
  ['Courtyard View', 'City View'],
  False,
  datetime.date(2022, 4, 13)),
 (62,
  302,
  3,
  'Standard',
  'Double Queen',
  2,
  2,
  408,
  Decimal('350.00'),
  Decimal('500.00'),
  Decimal('439.58'),
  ['City View', 'Courtyard View'],
  ['Air Conditioning',
   'Smart TV',
   'Premium Coffee Maker',
   'Mini Fridge',
   'Hair Dryer',
   'In-Room Safe',
   'Work Desk',
   'High-Speed WiFi',
   'Bathrobes',
   'Slippers'],
  ['Evening Turndown Service', 'Courtyard View', 'City View'],
  False,
  datetime.date(2022, 10, 15)),
 (58,
  228,
  2,
  'Standard',
  'Double Queen',
  2,
  2,
  437,
  Decimal('350.00'),
  Decimal('500.00'),
  Decimal('443.67'),
  ['Courtyard View'],
  ['Air Conditioning',
   'Smart TV',
   'Premium Coffee Maker',
   'Mini Fridge',
   'Hair Dryer',
   'In-Room Safe',
   'Work Desk',
   'High-Speed WiFi',
   'Bathrobes',
   'Slippers'],
  ['Evening Turndown Service', 'Courtyard View'],
  False,
  datetime.date(2023, 4, 12)),
 (25,
  125,
  1,
  'Standard',
  'Queen',
  2,
  2,
  430,
  Decimal('350.00'),
  Decimal('500.00'),
  Decimal('445.63'),
  ['City View', 'Courtyard View'],
  ['Air Conditioning',
   'Smart TV',
   'Premium Coffee Maker',
   'Mini Fridge',
   'Hair Dryer',
   'In-Room Safe',
   'Work Desk',
   'High-Speed WiFi',
   'Bathrobes',
   'Slippers'],
  ['City View', 'Evening Turndown Service', 'Courtyard View'],
  True,
  datetime.date(2023, 9, 12)),
 (77,
  317,
  3,
  'Standard',
  'Queen',
  2,
  2,
  396,
  Decimal('350.00'),
  Decimal('500.00'),
  Decimal('448.18'),
  ['City View', 'Courtyard View'],
  ['Air Conditioning',
   'Smart TV',
   'Premium Coffee Maker',
   'Mini Fridge',
   'Hair Dryer',
   'In-Room Safe',
   'Work Desk',
   'High-Speed WiFi',
   'Bathrobes',
   'Slippers'],
  ['Evening Turndown Service', 'Courtyard View', 'City View'],
  False,
  datetime.date(2023, 5, 8)),
 (6,
  106,
  1,
  'Standard',
  'Queen',
  2,
  2,
  393,
  Decimal('350.00'),
  Decimal('500.00'),
  Decimal('458.93'),
  ['Courtyard View'],
  ['Air Conditioning',
   'Smart TV',
   'Premium Coffee Maker',
   'Mini Fridge',
   'Hair Dryer',
   'In-Room Safe',
   'Work Desk',
   'High-Speed WiFi',
   'Bathrobes',
   'Slippers'],
  ['Courtyard View', 'Evening Turndown Service'],
  False,
  datetime.date(2024, 12, 11)),
 (55,
  225,
  2,
  'Standard',
  'Double Queen',
  2,
  2,
  374,
  Decimal('350.00'),
  Decimal('500.00'),
  Decimal('459.62'),
  ['Courtyard View'],
  ['Air Conditioning',
   'Smart TV',
   'Premium Coffee Maker',
   'Mini Fridge',
   'Hair Dryer',
   'In-Room Safe',
   'Work Desk',
   'High-Speed WiFi',
   'Bathrobes',
   'Slippers'],
  ['Evening Turndown Service', 'Courtyard View'],
  False,
  datetime.date(2024, 5, 21)),
 (8,
  108,
  1,
  'Standard',
  'Queen',
  2,
  2,
  389,
  Decimal('350.00'),
  Decimal('500.00'),
  Decimal('459.75'),
  ['Courtyard View'],
  ['Air Conditioning',
   'Smart TV',
   'Premium Coffee Maker',
   'Mini Fridge',
   'Hair Dryer',
   'In-Room Safe',
   'Work Desk',
   'High-Speed WiFi',
   'Bathrobes',
   'Slippers'],
  ['Evening Turndown Service', 'Courtyard View'],
  False,
  datetime.date(2023, 10, 3)),
 (86,
  326,
  3,
  'Standard',
  'Queen',
  2,
  2,
  430,
  Decimal('350.00'),
  Decimal('500.00'),
  Decimal('461.71'),
  ['City View', 'Courtyard View'],
  ['Air Conditioning',
   'Smart TV',
   'Premium Coffee Maker',
   'Mini Fridge',
   'Hair Dryer',
   'In-Room Safe',
   'Work Desk',
   'High-Speed WiFi',
   'Bathrobes',
   'Slippers'],
  ['Courtyard View', 'Evening Turndown Service', 'City View'],
  False,
  datetime.date(2023, 9, 21))]

,room_number,floor,type,square_feet,basic_amenities,additional_amenities,max_occupancy,bed_type,view_type,accessibility,status,last_renovation,base_rate,max_rate
room_id,,,,,,,,,,,,,,
RM000001,101,1,Standard,410,"[Air Conditioning, Smart TV, Premium Coffee Ma...",[City View],2,Queen,City View,False,Available,2022-10-25,350,500
RM000002,102,1,Standard,361,"[Air Conditioning, Smart TV, Premium Coffee Ma...",[Evening Turndown Service],2,Queen,Standard View,False,Available,2023-03-01,350,500
RM000003,103,1,Standard,431,"[Air Conditioning, Smart TV, Premium Coffee Ma...",[Courtyard View],2,Double Queen,Courtyard View,False,Available,2022-08-10,350,500
RM000004,104,1,Standard,391,"[Air Conditioning, Smart TV, Premium Coffee Ma...","[City View, Courtyard View, Evening Turndown S...",2,Queen,Courtyard View,True,Occupied,2023-09-06,350,500
RM000005,105,1,Standard,373,"[Air Conditioning, Smart TV, Premium Coffee Ma...","[Courtyard View, City View, Evening Turndown S...",2,Double Queen,Evening Turndown Service,True,Occupied,2024-04-13,350,500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
RM000596,2026,20,Presidential Suite,2369,"[Air Conditioning, Multiple 75"" Smart TVs, Pro...","[Private Pool, Private Terrace, Luxury Car Ser...",6,King + Multiple Sofa Beds,Standard View,False,Maintenance,2024-10-01,3500,5000
RM000597,2027,20,Presidential Suite,2020,"[Air Conditioning, Multiple 75"" Smart TVs, Pro...","[Private Terrace, Grand Piano, Private Gym Equ...",6,King + Multiple Sofa Beds,Standard View,False,Maintenance,2024-04-17,3500,5000
RM000598,2028,20,Presidential Suite,1883,"[Air Conditioning, Multiple 75"" Smart TVs, Pro...","[Grand Piano, Private Terrace, Dedicated Conci...",6,King + Multiple Sofa Beds,Standard View,False,Occupied,2022-03-09,3500,5000
RM000599,2029,20,Presidential Suite,1643,"[Air Conditioning, Multiple 75"" Smart TVs, Pro...","[Private Terrace, Private Chef Available, Priv...",6,King + Multiple Sofa Beds,Standard View,False,Maintenance,2023-07-24,3500,5000
RM000600,2030,20,Presidential Suite,1671,"[Air Conditioning, Multiple 75"" Smart TVs, Pro...","[Private Butler Service, Private Pool, Grand P...",6,King + Multiple Sofa Beds,Private Butler Service,False,Maintenance,2022-10-06,3500,5000