In [1]:
import os
import psycopg
from dotenv import load_dotenv

In [3]:
# Load environment variables from .env file
load_dotenv('../.env')
neon_conn_string = os.getenv("NEON_DB_URL")

In [5]:
try:
    with psycopg.connect(neon_conn_string) as neon_conn:
        print("Connection established")
        # Open a cursor to perform database operations
        with neon_conn.cursor() as cur:
            # Drop the table if it already exists
            cur.execute("DROP TABLE IF EXISTS books;")
            print("Finished dropping table (if it existed).")
            # Create a new table
            cur.execute("""
                CREATE TABLE books (
                    id SERIAL PRIMARY KEY,
                    title VARCHAR(255) NOT NULL,
                    author VARCHAR(255),
                    publication_year INT,
                    in_stock BOOLEAN DEFAULT TRUE
                );
            """)
            print("Finished creating table.")
            # Insert a single book record
            cur.execute(
                "INSERT INTO books (title, author, publication_year, in_stock) VALUES (%s, %s, %s, %s);",
                ("The Catcher in the Rye", "J.D. Salinger", 1951, True),
            )
            print("Inserted a single book.")
            # Data to be inserted
            books_to_insert = [
                ("The Hobbit", "J.R.R. Tolkien", 1937, True),
                ("1984", "George Orwell", 1949, True),
                ("Dune", "Frank Herbert", 1965, False),
            ]
            # Insert multiple books at once
            cur.executemany(
                "INSERT INTO books (title, author, publication_year, in_stock) VALUES (%s, %s, %s, %s);",
                books_to_insert,
            )
            print("Inserted 3 rows of data.")
            # The transaction is committed automatically when the 'with' block exits in psycopg (v3)
except Exception as e:
    print("Connection failed.")
    print(e)

Connection established
Finished dropping table (if it existed).
Finished creating table.
Inserted a single book.
Inserted 3 rows of data.

In [8]:
try:
    with psycopg.connect(neon_conn_string) as neon_conn:
        print("Connection established")
        # Open a cursor to perform database operations
        with neon_conn.cursor() as cur:
            cur.execute("SELECT * FROM books")
            print(cur.fetchall())
except Exception as e:
    print("Connection failed.")
    print(e)

Connection established
[(1, 'The Catcher in the Rye', 'J.D. Salinger', 1951, True), (2, 'The Hobbit', 'J.R.R. Tolkien', 1937, True), (3, '1984', 'George Orwell', 1949, True), (4, 'Dune', 'Frank Herbert', 1965, False)]

In [4]:
import pandas as pd

## Rooms table

First we need the rooms table as its primary key is referenced by the room_availability table.

In [5]:
df_rooms = pd.read_pickle('../data/pandas/rooms.pkl')
df_rooms

,room_id,room_number,floor,type,square_feet,basic_amenities,additional_amenities,max_occupancy,bed_type,view_type,accessibility,status,last_renovation,base_rate,max_rate
0,RM000001,101,1,Standard,410,"[Air Conditioning, Smart TV, Premium Coffee Ma...",[City View],2,Queen,[City View],False,Available,2022-10-25,350,500
1,RM000002,102,1,Standard,361,"[Air Conditioning, Smart TV, Premium Coffee Ma...",[Evening Turndown Service],2,Queen,[Standard View],False,Available,2023-03-01,350,500
2,RM000003,103,1,Standard,431,"[Air Conditioning, Smart TV, Premium Coffee Ma...",[Courtyard View],2,Double Queen,[Courtyard View],False,Available,2022-08-10,350,500
3,RM000004,104,1,Standard,391,"[Air Conditioning, Smart TV, Premium Coffee Ma...","[City View, Courtyard View, Evening Turndown S...",2,Queen,"[City View, Courtyard View]",True,Occupied,2023-09-06,350,500
4,RM000005,105,1,Standard,373,"[Air Conditioning, Smart TV, Premium Coffee Ma...","[Courtyard View, City View, Evening Turndown S...",2,Double Queen,"[City View, Courtyard View]",True,Occupied,2024-04-13,350,500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
595,RM000596,2026,20,Presidential Suite,2369,"[Air Conditioning, Multiple 75"" Smart TVs, Pro...","[Private Pool, Private Terrace, Luxury Car Ser...",6,King + Multiple Sofa Beds,[Standard View],False,Maintenance,2024-10-01,3500,5000
596,RM000597,2027,20,Presidential Suite,2020,"[Air Conditioning, Multiple 75"" Smart TVs, Pro...","[Private Terrace, Grand Piano, Private Gym Equ...",6,King + Multiple Sofa Beds,[Standard View],False,Maintenance,2024-04-17,3500,5000
597,RM000598,2028,20,Presidential Suite,1883,"[Air Conditioning, Multiple 75"" Smart TVs, Pro...","[Grand Piano, Private Terrace, Dedicated Conci...",6,King + Multiple Sofa Beds,[Standard View],False,Occupied,2022-03-09,3500,5000
598,RM000599,2029,20,Presidential Suite,1643,"[Air Conditioning, Multiple 75"" Smart TVs, Pro...","[Private Terrace, Private Chef Available, Priv...",6,King + Multiple Sofa Beds,[Standard View],False,Maintenance,2023-07-24,3500,5000
599,RM000600,2030,20,Presidential Suite,1671,"[Air Conditioning, Multiple 75"" Smart TVs, Pro...","[Private Butler Service, Private Pool, Grand P...",6,King + Multiple Sofa Beds,[Panoramic Ocean View],False,Maintenance,2022-10-06,3500,5000

We want the basic_amenities, additional_amenities, and view_type to be saved as lists in table, so we need to modify them as such for PostgreSQL.

In [6]:
def to_sql_array_string(input_list):
    list2 = [x.replace('"', '\\"') for x in input_list]
    return '{"' + '", "'.join(list2) + '"}'

df_rooms['basic_amenities'] = df_rooms['basic_amenities'].apply(to_sql_array_string)
df_rooms['additional_amenities'] = df_rooms['additional_amenities'].apply(to_sql_array_string)
df_rooms['view_type'] = df_rooms['view_type'].apply(to_sql_array_string)

In [7]:
print(df_rooms.iloc[121])

room_id                                                          RM000122
room_number                                                           502
floor                                                                   5
type                                                               Deluxe
square_feet                                                           460
basic_amenities         {"Air Conditioning", "55\" Smart TV", "Nespres...
additional_amenities           {"Soaking Tub", "Pool View", "Ocean View"}
max_occupancy                                                           3
bed_type                                                     Double Queen
view_type                                     {"Pool View", "Ocean View"}
accessibility                                                       False
status                                                           Occupied
last_renovation                                                2024-11-25
base_rate                                                             500
max_rate                                                              750
Name: 121, dtype: object

Convert the room_id to an int for more efficient use in SQL.

In [8]:
df_rooms['room_id'] = df_rooms['room_id'].apply(lambda x: int(x[2:]))
df_rooms

,room_id,room_number,floor,type,square_feet,basic_amenities,additional_amenities,max_occupancy,bed_type,view_type,accessibility,status,last_renovation,base_rate,max_rate
0,1,101,1,Standard,410,"{""Air Conditioning"", ""Smart TV"", ""Premium Coff...","{""City View""}",2,Queen,"{""City View""}",False,Available,2022-10-25,350,500
1,2,102,1,Standard,361,"{""Air Conditioning"", ""Smart TV"", ""Premium Coff...","{""Evening Turndown Service""}",2,Queen,"{""Standard View""}",False,Available,2023-03-01,350,500
2,3,103,1,Standard,431,"{""Air Conditioning"", ""Smart TV"", ""Premium Coff...","{""Courtyard View""}",2,Double Queen,"{""Courtyard View""}",False,Available,2022-08-10,350,500
3,4,104,1,Standard,391,"{""Air Conditioning"", ""Smart TV"", ""Premium Coff...","{""City View"", ""Courtyard View"", ""Evening Turnd...",2,Queen,"{""City View"", ""Courtyard View""}",True,Occupied,2023-09-06,350,500
4,5,105,1,Standard,373,"{""Air Conditioning"", ""Smart TV"", ""Premium Coff...","{""Courtyard View"", ""City View"", ""Evening Turnd...",2,Double Queen,"{""City View"", ""Courtyard View""}",True,Occupied,2024-04-13,350,500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
595,596,2026,20,Presidential Suite,2369,"{""Air Conditioning"", ""Multiple 75\"" Smart TVs""...","{""Private Pool"", ""Private Terrace"", ""Luxury Ca...",6,King + Multiple Sofa Beds,"{""Standard View""}",False,Maintenance,2024-10-01,3500,5000
596,597,2027,20,Presidential Suite,2020,"{""Air Conditioning"", ""Multiple 75\"" Smart TVs""...","{""Private Terrace"", ""Grand Piano"", ""Private Gy...",6,King + Multiple Sofa Beds,"{""Standard View""}",False,Maintenance,2024-04-17,3500,5000
597,598,2028,20,Presidential Suite,1883,"{""Air Conditioning"", ""Multiple 75\"" Smart TVs""...","{""Grand Piano"", ""Private Terrace"", ""Dedicated ...",6,King + Multiple Sofa Beds,"{""Standard View""}",False,Occupied,2022-03-09,3500,5000
598,599,2029,20,Presidential Suite,1643,"{""Air Conditioning"", ""Multiple 75\"" Smart TVs""...","{""Private Terrace"", ""Private Chef Available"", ...",6,King + Multiple Sofa Beds,"{""Standard View""}",False,Maintenance,2023-07-24,3500,5000
599,600,2030,20,Presidential Suite,1671,"{""Air Conditioning"", ""Multiple 75\"" Smart TVs""...","{""Private Butler Service"", ""Private Pool"", ""Gr...",6,King + Multiple Sofa Beds,"{""Panoramic Ocean View""}",False,Maintenance,2022-10-06,3500,5000

Check that room_ids are sequential and start with 1

In [9]:
assert sum(df_rooms['room_id'].iloc[1:].to_numpy() - df_rooms['room_id'].iloc[:-1].to_numpy()) == df_rooms.shape[0]-1
assert df_rooms['room_id'].iloc[0] == 1

Add table to Neon

In [ ]:
try:
    with psycopg.connect(neon_conn_string) as neon_conn:
        print("Connection established")
        # Open a cursor to perform database operations
        with neon_conn.cursor() as cur:
            # Drop the table if it already exists
            cur.execute("DROP TABLE IF EXISTS room_availability;")
            print("Finished dropping table (if it existed).")
            # Create a new table
            cur.execute("""
                CREATE TABLE rooms (
                    room_id INT GENERATED BY DEFAULT AS IDENTITY PRIMARY KEY,
                    room_number INT NOT NULL,
                    floor INT NOT NULL,
                    type VARCHAR(50),
                    square_feet INT,
                    basic_amenities TEXT[],  -- Array data type for basic amenities
                    additional_amenities TEXT[], -- Array data type for additional amenities
                    max_occupancy INT,
                    bed_type VARCHAR(50),
                    view_type TEXT[],  -- Array data type for view type
                    accessibility BOOLEAN,
                    status VARCHAR(50),
                    last_renovation DATE,
                    base_rate NUMERIC(10, 2),
                    max_rate NUMERIC(10, 2)
                );
            """)
            print("Finished creating table.")
            # Insert room availability data
            cur.executemany(
                "INSERT INTO room_availability (room_id, room_number, date, status, price, max_occupancy) VALUES (%s, %s, %s, %s, %s, %s);",
                df_room_availability.values.tolist(),
            )
            print("Inserted data.")
            # The transaction is committed automatically when the 'with' block exits in psycopg (v3)
except Exception as e:
    print("Connection failed.")
    print(e)

## Room Availability table

Now add the room_availability table

In [10]:
df_room_availability = pd.read_pickle('../data/pandas/room_availability.pkl')
df_room_availability

         room_id  room_number        date     status   price  max_occupancy
0       RM000001          101  2025-01-04     Booked     NaN              2
1       RM000001          101  2025-01-05     Booked     NaN              2
2       RM000001          101  2025-01-06     Booked     NaN              2
3       RM000001          101  2025-01-07     Booked     NaN              2
4       RM000001          101  2025-01-08     Booked     NaN              2
...          ...          ...         ...        ...     ...            ...
218995  RM000600         2030  2025-12-30     Booked     NaN              6
218996  RM000600         2030  2025-12-31     Booked     NaN              6
218997  RM000600         2030  2026-01-01     Booked     NaN              6
218998  RM000600         2030  2026-01-02  Available  4617.6              6
218999  RM000600         2030  2026-01-03  Available  5000.0              6

[219000 rows x 6 columns]

Convert room_id to int for more efficient use in SQL and because used that way in rooms table.

In [11]:
df_room_availability['room_id'] = df_room_availability['room_id'].apply(lambda x: int(x[2:]))
df_room_availability

        room_id  room_number        date     status   price  max_occupancy
0             1          101  2025-01-04     Booked     NaN              2
1             1          101  2025-01-05     Booked     NaN              2
2             1          101  2025-01-06     Booked     NaN              2
3             1          101  2025-01-07     Booked     NaN              2
4             1          101  2025-01-08     Booked     NaN              2
...         ...          ...         ...        ...     ...            ...
218995      600         2030  2025-12-30     Booked     NaN              6
218996      600         2030  2025-12-31     Booked     NaN              6
218997      600         2030  2026-01-01     Booked     NaN              6
218998      600         2030  2026-01-02  Available  4617.6              6
218999      600         2030  2026-01-03  Available  5000.0              6

[219000 rows x 6 columns]

In [12]:
df_room_availability.values.tolist()

[[1, 101, '2025-01-04', 'Booked', nan, 2],
 [1, 101, '2025-01-05', 'Booked', nan, 2],
 [1, 101, '2025-01-06', 'Booked', nan, 2],
 [1, 101, '2025-01-07', 'Booked', nan, 2],
 [1, 101, '2025-01-08', 'Booked', nan, 2],
 [1, 101, '2025-01-09', 'Booked', nan, 2],
 [1, 101, '2025-01-10', 'Booked', nan, 2],
 [1, 101, '2025-01-11', 'Booked', nan, 2],
 [1, 101, '2025-01-12', 'Booked', nan, 2],
 [1, 101, '2025-01-13', 'Booked', nan, 2],
 [1, 101, '2025-01-14', 'Booked', nan, 2],
 [1, 101, '2025-01-15', 'Booked', nan, 2],
 [1, 101, '2025-01-16', 'Booked', nan, 2],
 [1, 101, '2025-01-17', 'Booked', nan, 2],
 [1, 101, '2025-01-18', 'Booked', nan, 2],
 [1, 101, '2025-01-19', 'Booked', nan, 2],
 [1, 101, '2025-01-20', 'Available', 500.0, 2],
 [1, 101, '2025-01-21', 'Available', 500.0, 2],
 [1, 101, '2025-01-22', 'Available', 468.57, 2],
 [1, 101, '2025-01-23', 'Available', 485.14, 2],
 [1, 101, '2025-01-24', 'Available', 500.0, 2],
 [1, 101, '2025-01-25', 'Available', 500.0, 2],
 [1, 101, '2025-01-26', 'Available', 500.0, 2],
 [1, 101, '2025-01-27', 'Booked', nan, 2],
 [1, 101, '2025-01-28', 'Booked', nan, 2],
 [1, 101, '2025-01-29', 'Booked', nan, 2],
 [1, 101, '2025-01-30', 'Booked', nan, 2],
 [1, 101, '2025-01-31', 'Booked', nan, 2],
 [1, 101, '2025-02-01', 'Booked', nan, 2],
 [1, 101, '2025-02-02', 'Booked', nan, 2],
 [1, 101, '2025-02-03', 'Booked', nan, 2],
 [1, 101, '2025-02-04', 'Booked', nan, 2],
 [1, 101, '2025-02-05', 'Booked', nan, 2],
 [1, 101, '2025-02-06', 'Booked', nan, 2],
 [1, 101, '2025-02-07', 'Booked', nan, 2],
 [1, 101, '2025-02-08', 'Booked', nan, 2],
 [1, 101, '2025-02-09', 'Booked', nan, 2],
 [1, 101, '2025-02-10', 'Booked', nan, 2],
 [1, 101, '2025-02-11', 'Booked', nan, 2],
 [1, 101, '2025-02-12', 'Booked', nan, 2],
 [1, 101, '2025-02-13', 'Booked', nan, 2],
 [1, 101, '2025-02-14', 'Booked', nan, 2],
 [1, 101, '2025-02-15', 'Booked', nan, 2],
 [1, 101, '2025-02-16', 'Booked', nan, 2],
 [1, 101, '2025-02-17', 'Booked', nan, 2],
 [1, 101, '2025-02-18', 'Booked', nan, 2],
 [1, 101, '2025-02-19', 'Booked', nan, 2],
 [1, 101, '2025-02-20', 'Available', 370.38, 2],
 [1, 101, '2025-02-21', 'Available', 376.86, 2],
 [1, 101, '2025-02-22', 'Available', 404.86, 2],
 [1, 101, '2025-02-23', 'Available', 452.98, 2],
 [1, 101, '2025-02-24', 'Available', 370.29, 2],
 [1, 101, '2025-02-25', 'Available', 378.72, 2],
 [1, 101, '2025-02-26', 'Available', 368.23, 2],
 [1, 101, '2025-02-27', 'Available', 377.52, 2],
 [1, 101, '2025-02-28', 'Available', 345.96, 2],
 [1, 101, '2025-03-01', 'Available', 441.21, 2],
 [1, 101, '2025-03-02', 'Booked', nan, 2],
 [1, 101, '2025-03-03', 'Booked', nan, 2],
 [1, 101, '2025-03-04', 'Booked', nan, 2],
 [1, 101, '2025-03-05', 'Booked', nan, 2],
 [1, 101, '2025-03-06', 'Booked', nan, 2],
 [1, 101, '2025-03-07', 'Booked', nan, 2],
 [1, 101, '2025-03-08', 'Booked', nan, 2],
 [1, 101, '2025-03-09', 'Booked', nan, 2],
 [1, 101, '2025-03-10', 'Booked', nan, 2],
 [1, 101, '2025-03-11', 'Booked', nan, 2],
 [1, 101, '2025-03-12', 'Booked', nan, 2],
 [1, 101, '2025-03-13', 'Booked', nan, 2],
 [1, 101, '2025-03-14', 'Booked', nan, 2],
 [1, 101, '2025-03-15', 'Available', 378.75, 2],
 [1, 101, '2025-03-16', 'Available', 457.09, 2],
 [1, 101, '2025-03-17', 'Available', 320.23, 2],
 [1, 101, '2025-03-18', 'Available', 342.32, 2],
 [1, 101, '2025-03-19', 'Available', 341.98, 2],
 [1, 101, '2025-03-20', 'Available', 325.31, 2],
 [1, 101, '2025-03-21', 'Available', 331.45, 2],
 [1, 101, '2025-03-22', 'Available', 445.04, 2],
 [1, 101, '2025-03-23', 'Available', 410.03, 2],
 [1, 101, '2025-03-24', 'Available', 361.22, 2],
 [1, 101, '2025-03-25', 'Available', 318.76, 2],
 [1, 101, '2025-03-26', 'Available', 334.7, 2],
 [1, 101, '2025-03-27', 'Available', 316.94, 2],
 [1, 101, '2025-03-28', 'Booked', nan, 2],
 [1, 101, '2025-03-29', 'Booked', nan, 2],
 [1, 101, '2025-03-30', 'Booked', nan, 2],
 [1, 101, '2025-03-31', 'Booked', nan, 2],
 [1, 101, '2025-04-01', 'Booked', nan, 2],
 [1, 101, '2025-04-02', 'Booked', nan, 2],
 [1, 101, '2025-04-03', 'Booked', nan, 2],
 [1, 101, '2025-04-04', 'Booked', nan, 2],
 [1, 101, '2025-04-05', 'Booked', nan, 2],
 [1, 101, '2025-04-06', 'Booked', nan, 2],
 [1, 101, '2025-04-07', 'Booked', nan, 2],
 [1, 101, '2025-04-08', 'Booked', nan, 2],
 [1, 101, '2025-04-09', 'Booked', nan, 2],
 [1, 101, '2025-04-10', 'Available', 350.21, 2],
 [1, 101, '2025-04-11', 'Available', 378.23, 2],
 [1, 101, '2025-04-12', 'Available', 414.96, 2],
 [1, 101, '2025-04-13', 'Available', 411.94, 2],
 [1, 101, '2025-04-14', 'Available', 315.84, 2],
 [1, 101, '2025-04-15', 'Available', 377.26, 2],
 [1, 101, '2025-04-16', 'Booked', nan, 2],
 [1, 101, '2025-04-17', 'Booked', nan, 2],
 [1, 101, '2025-04-18', 'Booked', nan, 2],
 [1, 101, '2025-04-19', 'Booked', nan, 2],
 [1, 101, '2025-04-20', 'Booked', nan, 2],
 [1, 101, '2025-04-21', 'Available', 329.32, 2],
 [1, 101, '2025-04-22', 'Available', 370.66, 2],
 [1, 101, '2025-04-23', 'Available', 372.82, 2],
 [1, 101, '2025-04-24', 'Available', 346.64, 2],
 [1, 101, '2025-04-25', 'Available', 323.42, 2],
 [1, 101, '2025-04-26', 'Booked', nan, 2],
 [1, 101, '2025-04-27', 'Booked', nan, 2],
 [1, 101, '2025-04-28', 'Booked', nan, 2],
 [1, 101, '2025-04-29', 'Booked', nan, 2],
 [1, 101, '2025-04-30', 'Booked', nan, 2],
 [1, 101, '2025-05-01', 'Booked', nan, 2],
 [1, 101, '2025-05-02', 'Booked', nan, 2],
 [1, 101, '2025-05-03', 'Booked', nan, 2],
 [1, 101, '2025-05-04', 'Booked', nan, 2],
 [1, 101, '2025-05-05', 'Booked', nan, 2],
 [1, 101, '2025-05-06', 'Booked', nan, 2],
 [1, 101, '2025-05-07', 'Booked', nan, 2],
 [1, 101, '2025-05-08', 'Available', 370.65, 2],
 [1, 101, '2025-05-09', 'Available', 335.85, 2],
 [1, 101, '2025-05-10', 'Booked', nan, 2],
 [1, 101, '2025-05-11', 'Booked', nan, 2],
 [1, 101, '2025-05-12', 'Booked', nan, 2],
 [1, 101, '2025-05-13', 'Booked', nan, 2],
 [1, 101, '2025-05-14', 'Booked', nan, 2],
 [1, 101, '2025-05-15', 'Booked', nan, 2],
 [1, 101, '2025-05-16', 'Available', 351.48, 2],
 [1, 101, '2025-05-17', 'Available', 438.51, 2],
 [1, 101, '2025-05-18', 'Available', 453.96, 2],
 [1, 101, '2025-05-19', 'Available', 382.05, 2],
 [1, 101, '2025-05-20', 'Available', 341.3, 2],
 [1, 101, '2025-05-21', 'Available', 336.64, 2],
 [1, 101, '2025-05-22', 'Available', 329.58, 2],
 [1, 101, '2025-05-23', 'Available', 380.42, 2],
 [1, 101, '2025-05-24', 'Available', 414.58, 2],
 [1, 101, '2025-05-25', 'Available', 381.67, 2],
 [1, 101, '2025-05-26', 'Available', 337.88, 2],
 [1, 101, '2025-05-27', 'Available', 328.95, 2],
 [1, 101, '2025-05-28', 'Available', 374.12, 2],
 [1, 101, '2025-05-29', 'Available', 372.11, 2],
 [1, 101, '2025-05-30', 'Available', 357.34, 2],
 [1, 101, '2025-05-31', 'Available', 447.26, 2],
 [1, 101, '2025-06-01', 'Available', 500.0, 2],
 [1, 101, '2025-06-02', 'Available', 418.09, 2],
 [1, 101, '2025-06-03', 'Available', 456.97, 2],
 [1, 101, '2025-06-04', 'Available', 490.18, 2],
 [1, 101, '2025-06-05', 'Available', 491.22, 2],
 [1, 101, '2025-06-06', 'Available', 436.74, 2],
 [1, 101, '2025-06-07', 'Available', 493.29, 2],
 [1, 101, '2025-06-08', 'Available', 500.0, 2],
 [1, 101, '2025-06-09', 'Available', 467.62, 2],
 [1, 101, '2025-06-10', 'Available', 469.73, 2],
 [1, 101, '2025-06-11', 'Available', 414.42, 2],
 [1, 101, '2025-06-12', 'Available', 495.87, 2],
 [1, 101, '2025-06-13', 'Available', 448.47, 2],
 [1, 101, '2025-06-14', 'Available', 500.0, 2],
 [1, 101, '2025-06-15', 'Available', 500.0, 2],
 [1, 101, '2025-06-16', 'Available', 464.34, 2],
 [1, 101, '2025-06-17', 'Available', 493.1, 2],
 [1, 101, '2025-06-18', 'Available', 419.85, 2],
 [1, 101, '2025-06-19', 'Available', 484.19, 2],
 [1, 101, '2025-06-20', 'Available', 488.55, 2],
 [1, 101, '2025-06-21', 'Maintenance', nan, 2],
 [1, 101, '2025-06-22', 'Maintenance', nan, 2],
 [1, 101, '2025-06-23', 'Available', 469.91, 2],
 [1, 101, '2025-06-24', 'Available', 459.93, 2],
 [1, 101, '2025-06-25', 'Available', 462.34, 2],
 [1, 101, '2025-06-26', 'Available', 433.1, 2],
 [1, 101, '2025-06-27', 'Available', 450.93, 2],
 [1, 101, '2025-06-28', 'Booked', nan, 2],
 [1, 101, '2025-06-29', 'Booked', nan, 2],
 [1, 101, '2025-06-30', 'Booked', nan, 2],
 [1, 101, '2025-07-01', 'Booked', nan, 2],
 [1, 101, '2025-07-02', 'Booked', nan, 2],
 [1, 101, '2025-07-03', 'Booked', nan, 2],
 [1, 101, '2025-07-04', 'Booked', nan, 2],
 [1, 101, '2025-07-05', 'Booked', nan, 2],
 [1, 101, '2025-07-06', 'Booked', nan, 2],
 [1, 101, '2025-07-07', 'Booked', nan, 2],
 [1, 101, '2025-07-08', 'Booked', nan, 2],
 [1, 101, '2025-07-09', 'Booked', nan, 2],
 [1, 101, '2025-07-10', 'Booked', nan, 2],
 [1, 101, '2025-07-11', 'Booked', nan, 2],
 [1, 101, '2025-07-12', 'Booked', nan, 2],
 [1, 101, '2025-07-13', 'Booked', nan, 2],
 [1, 101, '2025-07-14', 'Booked', nan, 2],
 [1, 101, '2025-07-15', 'Booked', nan, 2],
 [1, 101, '2025-07-16', 'Available', 444.04, 2],
 [1, 101, '2025-07-17', 'Available', 420.86, 2],
 [1, 101, '2025-07-18', 'Available', 410.15, 2],
 [1, 101, '2025-07-19', 'Available', 500.0, 2],
 [1, 101, '2025-07-20', 'Available', 500.0, 2],
 [1, 101, '2025-07-21', 'Available', 468.05, 2],
 [1, 101, '2025-07-22', 'Available', 444.18, 2],
 [1, 101, '2025-07-23', 'Available', 456.74, 2],
 [1, 101, '2025-07-24', 'Available', 421.37, 2],
 [1, 101, '2025-07-25', 'Booked', nan, 2],
 [1, 101, '2025-07-26', 'Booked', nan, 2],
 [1, 101, '2025-07-27', 'Booked', nan, 2],
 [1, 101, '2025-07-28', 'Booked', nan, 2],
 [1, 101, '2025-07-29', 'Booked', nan, 2],
 [1, 101, '2025-07-30', 'Booked', nan, 2],
 [1, 101, '2025-07-31', 'Booked', nan, 2],
 [1, 101, '2025-08-01', 'Booked', nan, 2],
 [1, 101, '2025-08-02', 'Booked', nan, 2],
 [1, 101, '2025-08-03', 'Booked', nan, 2],
 [1, 101, '2025-08-04', 'Booked', nan, 2],
 [1, 101, '2025-08-05', 'Booked', nan, 2],
 [1, 101, '2025-08-06', 'Booked', nan, 2],
 [1, 101, '2025-08-07', 'Booked', nan, 2],
 [1, 101, '2025-08-08', 'Booked', nan, 2],
 [1, 101, '2025-08-09', 'Booked', nan, 2],
 [1, 101, '2025-08-10', 'Booked', nan, 2],
 [1, 101, '2025-08-11', 'Booked', nan, 2],
 [1, 101, '2025-08-12', 'Available', 426.27, 2],
 [1, 101, '2025-08-13', 'Available', 464.5, 2],
 [1, 101, '2025-08-14', 'Available', 452.75, 2],
 [1, 101, '2025-08-15', 'Available', 494.77, 2],
 [1, 101, '2025-08-16', 'Booked', nan, 2],
 [1, 101, '2025-08-17', 'Booked', nan, 2],
 [1, 101, '2025-08-18', 'Booked', nan, 2],
 [1, 101, '2025-08-19', 'Booked', nan, 2],
 [1, 101, '2025-08-20', 'Booked', nan, 2],
 [1, 101, '2025-08-21', 'Booked', nan, 2],
 [1, 101, '2025-08-22', 'Booked', nan, 2],
 [1, 101, '2025-08-23', 'Booked', nan, 2],
 [1, 101, '2025-08-24', 'Booked', nan, 2],
 [1, 101, '2025-08-25', 'Booked', nan, 2],
 [1, 101, '2025-08-26', 'Booked', nan, 2],
 [1, 101, '2025-08-27', 'Booked', nan, 2],
 [1, 101, '2025-08-28', 'Booked', nan, 2],
 [1, 101, '2025-08-29', 'Booked', nan, 2],
 [1, 101, '2025-08-30', 'Booked', nan, 2],
 [1, 101, '2025-08-31', 'Booked', nan, 2],
 [1, 101, '2025-09-01', 'Booked', nan, 2],
 [1, 101, '2025-09-02', 'Booked', nan, 2],
 [1, 101, '2025-09-03', 'Booked', nan, 2],
 [1, 101, '2025-09-04', 'Booked', nan, 2],
 [1, 101, '2025-09-05', 'Booked', nan, 2],
 [1, 101, '2025-09-06', 'Booked', nan, 2],
 [1, 101, '2025-09-07', 'Booked', nan, 2],
 [1, 101, '2025-09-08', 'Available', 360.47, 2],
 [1, 101, '2025-09-09', 'Available', 365.44, 2],
 [1, 101, '2025-09-10', 'Available', 373.86, 2],
 [1, 101, '2025-09-11', 'Available', 363.2, 2],
 [1, 101, '2025-09-12', 'Available', 337.8, 2],
 [1, 101, '2025-09-13', 'Booked', nan, 2],
 [1, 101, '2025-09-14', 'Booked', nan, 2],
 [1, 101, '2025-09-15', 'Available', 321.2, 2],
 [1, 101, '2025-09-16', 'Available', 315.69, 2],
 [1, 101, '2025-09-17', 'Available', 369.51, 2],
 [1, 101, '2025-09-18', 'Available', 362.61, 2],
 [1, 101, '2025-09-19', 'Available', 348.2, 2],
 [1, 101, '2025-09-20', 'Available', 393.64, 2],
 [1, 101, '2025-09-21', 'Booked', nan, 2],
 [1, 101, '2025-09-22', 'Booked', nan, 2],
 [1, 101, '2025-09-23', 'Booked', nan, 2],
 [1, 101, '2025-09-24', 'Booked', nan, 2],
 [1, 101, '2025-09-25', 'Booked', nan, 2],
 [1, 101, '2025-09-26', 'Booked', nan, 2],
 [1, 101, '2025-09-27', 'Booked', nan, 2],
 [1, 101, '2025-09-28', 'Available', 438.72, 2],
 [1, 101, '2025-09-29', 'Available', 326.07, 2],
 [1, 101, '2025-09-30', 'Available', 341.59, 2],
 [1, 101, '2025-10-01', 'Available', 323.36, 2],
 [1, 101, '2025-10-02', 'Available', 338.84, 2],
 [1, 101, '2025-10-03', 'Available', 325.77, 2],
 [1, 101, '2025-10-04', 'Booked', nan, 2],
 [1, 101, '2025-10-05', 'Booked', nan, 2],
 [1, 101, '2025-10-06', 'Booked', nan, 2],
 [1, 101, '2025-10-07', 'Booked', nan, 2],
 [1, 101, '2025-10-08', 'Booked', nan, 2],
 [1, 101, '2025-10-09', 'Booked', nan, 2],
 [1, 101, '2025-10-10', 'Booked', nan, 2],
 [1, 101, '2025-10-11', 'Booked', nan, 2],
 [1, 101, '2025-10-12', 'Booked', nan, 2],
 [1, 101, '2025-10-13', 'Booked', nan, 2],
 [1, 101, '2025-10-14', 'Booked', nan, 2],
 [1, 101, '2025-10-15', 'Booked', nan, 2],
 [1, 101, '2025-10-16', 'Booked', nan, 2],
 [1, 101, '2025-10-17', 'Booked', nan, 2],
 [1, 101, '2025-10-18', 'Booked', nan, 2],
 [1, 101, '2025-10-19', 'Booked', nan, 2],
 [1, 101, '2025-10-20', 'Booked', nan, 2],
 [1, 101, '2025-10-21', 'Booked', nan, 2],
 [1, 101, '2025-10-22', 'Booked', nan, 2],
 [1, 101, '2025-10-23', 'Booked', nan, 2],
 [1, 101, '2025-10-24', 'Booked', nan, 2],
 [1, 101, '2025-10-25', 'Booked', nan, 2],
 [1, 101, '2025-10-26', 'Booked', nan, 2],
 [1, 101, '2025-10-27', 'Available', 370.7, 2],
 [1, 101, '2025-10-28', 'Available', 332.25, 2],
 [1, 101, '2025-10-29', 'Booked', nan, 2],
 [1, 101, '2025-10-30', 'Booked', nan, 2],
 [1, 101, '2025-10-31', 'Booked', nan, 2],
 [1, 101, '2025-11-01', 'Booked', nan, 2],
 [1, 101, '2025-11-02', 'Available', 396.68, 2],
 [1, 101, '2025-11-03', 'Available', 324.32, 2],
 [1, 101, '2025-11-04', 'Available', 332.22, 2],
 [1, 101, '2025-11-05', 'Available', 349.62, 2],
 [1, 101, '2025-11-06', 'Booked', nan, 2],
 [1, 101, '2025-11-07', 'Available', 374.13, 2],
 [1, 101, '2025-11-08', 'Available', 382.95, 2],
 [1, 101, '2025-11-09', 'Available', 440.34, 2],
 [1, 101, '2025-11-10', 'Booked', nan, 2],
 [1, 101, '2025-11-11', 'Booked', nan, 2],
 [1, 101, '2025-11-12', 'Booked', nan, 2],
 [1, 101, '2025-11-13', 'Booked', nan, 2],
 [1, 101, '2025-11-14', 'Booked', nan, 2],
 [1, 101, '2025-11-15', 'Booked', nan, 2],
 [1, 101, '2025-11-16', 'Booked', nan, 2],
 [1, 101, '2025-11-17', 'Booked', nan, 2],
 [1, 101, '2025-11-18', 'Booked', nan, 2],
 [1, 101, '2025-11-19', 'Booked', nan, 2],
 [1, 101, '2025-11-20', 'Booked', nan, 2],
 [1, 101, '2025-11-21', 'Available', 327.56, 2],
 [1, 101, '2025-11-22', 'Available', 392.21, 2],
 [1, 101, '2025-11-23', 'Available', 394.1, 2],
 [1, 101, '2025-11-24', 'Available', 340.14, 2],
 [1, 101, '2025-11-25', 'Available', 359.79, 2],
 [1, 101, '2025-11-26', 'Available', 327.75, 2],
 [1, 101, '2025-11-27', 'Available', 336.45, 2],
 [1, 101, '2025-11-28', 'Available', 380.32, 2],
 [1, 101, '2025-11-29', 'Available', 398.77, 2],
 [1, 101, '2025-11-30', 'Available', 415.83, 2],
 [1, 101, '2025-12-01', 'Booked', nan, 2],
 [1, 101, '2025-12-02', 'Booked', nan, 2],
 [1, 101, '2025-12-03', 'Booked', nan, 2],
 [1, 101, '2025-12-04', 'Available', 500.0, 2],
 [1, 101, '2025-12-05', 'Available', 491.68, 2],
 [1, 101, '2025-12-06', 'Available', 500.0, 2],
 [1, 101, '2025-12-07', 'Booked', nan, 2],
 [1, 101, '2025-12-08', 'Booked', nan, 2],
 [1, 101, '2025-12-09', 'Booked', nan, 2],
 [1, 101, '2025-12-10', 'Booked', nan, 2],
 [1, 101, '2025-12-11', 'Booked', nan, 2],
 [1, 101, '2025-12-12', 'Booked', nan, 2],
 [1, 101, '2025-12-13', 'Booked', nan, 2],
 [1, 101, '2025-12-14', 'Booked', nan, 2],
 [1, 101, '2025-12-15', 'Booked', nan, 2],
 [1, 101, '2025-12-16', 'Booked', nan, 2],
 [1, 101, '2025-12-17', 'Booked', nan, 2],
 [1, 101, '2025-12-18', 'Available', 496.18, 2],
 [1, 101, '2025-12-19', 'Available', 500.0, 2],
 [1, 101, '2025-12-20', 'Available', 500.0, 2],
 [1, 101, '2025-12-21', 'Available', 500.0, 2],
 [1, 101, '2025-12-22', 'Available', 448.18, 2],
 [1, 101, '2025-12-23', 'Available', 490.83, 2],
 [1, 101, '2025-12-24', 'Available', 500.0, 2],
 [1, 101, '2025-12-25', 'Available', 475.4, 2],
 [1, 101, '2025-12-26', 'Available', 441.65, 2],
 [1, 101, '2025-12-27', 'Available', 500.0, 2],
 [1, 101, '2025-12-28', 'Available', 500.0, 2],
 [1, 101, '2025-12-29', 'Available', 498.91, 2],
 [1, 101, '2025-12-30', 'Available', 500.0, 2],
 [1, 101, '2025-12-31', 'Available', 496.96, 2],
 [1, 101, '2026-01-01', 'Available', 468.24, 2],
 [1, 101, '2026-01-02', 'Available', 483.53, 2],
 [1, 101, '2026-01-03', 'Available', 500.0, 2],
 [2, 102, '2025-01-04', 'Booked', nan, 2],
 [2, 102, '2025-01-05', 'Booked', nan, 2],
 [2, 102, '2025-01-06', 'Booked', nan, 2],
 [2, 102, '2025-01-07', 'Booked', nan, 2],
 [2, 102, '2025-01-08', 'Booked', nan, 2],
 [2, 102, '2025-01-09', 'Booked', nan, 2],
 [2, 102, '2025-01-10', 'Booked', nan, 2],
 [2, 102, '2025-01-11', 'Booked', nan, 2],
 [2, 102, '2025-01-12', 'Booked', nan, 2],
 [2, 102, '2025-01-13', 'Booked', nan, 2],
 [2, 102, '2025-01-14', 'Booked', nan, 2],
 [2, 102, '2025-01-15', 'Booked', nan, 2],
 [2, 102, '2025-01-16', 'Booked', nan, 2],
 [2, 102, '2025-01-17', 'Booked', nan, 2],
 [2, 102, '2025-01-18', 'Booked', nan, 2],
 [2, 102, '2025-01-19', 'Booked', nan, 2],
 [2, 102, '2025-01-20', 'Booked', nan, 2],
 [2, 102, '2025-01-21', 'Booked', nan, 2],
 [2, 102, '2025-01-22', 'Available', 500.0, 2],
 [2, 102, '2025-01-23', 'Available', 500.0, 2],
 [2, 102, '2025-01-24', 'Available', 460.47, 2],
 [2, 102, '2025-01-25', 'Available', 500.0, 2],
 [2, 102, '2025-01-26', 'Available', 500.0, 2],
 [2, 102, '2025-01-27', 'Booked', nan, 2],
 [2, 102, '2025-01-28', 'Booked', nan, 2],
 [2, 102, '2025-01-29', 'Booked', nan, 2],
 [2, 102, '2025-01-30', 'Booked', nan, 2],
 [2, 102, '2025-01-31', 'Booked', nan, 2],
 [2, 102, '2025-02-01', 'Booked', nan, 2],
 [2, 102, '2025-02-02', 'Booked', nan, 2],
 [2, 102, '2025-02-03', 'Available', 384.49, 2],
 [2, 102, '2025-02-04', 'Available', 347.8, 2],
 [2, 102, '2025-02-05', 'Available', 347.54, 2],
 [2, 102, '2025-02-06', 'Available', 364.11, 2],
 [2, 102, '2025-02-07', 'Available', 349.47, 2],
 [2, 102, '2025-02-08', 'Available', 457.14, 2],
 [2, 102, '2025-02-09', 'Available', 422.71, 2],
 [2, 102, '2025-02-10', 'Available', 346.47, 2],
 [2, 102, '2025-02-11', 'Available', 380.34, 2],
 [2, 102, '2025-02-12', 'Available', 367.39, 2],
 [2, 102, '2025-02-13', 'Available', 333.75, 2],
 [2, 102, '2025-02-14', 'Available', 316.84, 2],
 [2, 102, '2025-02-15', 'Booked', nan, 2],
 [2, 102, '2025-02-16', 'Booked', nan, 2],
 [2, 102, '2025-02-17', 'Booked', nan, 2],
 [2, 102, '2025-02-18', 'Booked', nan, 2],
 [2, 102, '2025-02-19', 'Booked', nan, 2],
 [2, 102, '2025-02-20', 'Booked', nan, 2],
 [2, 102, '2025-02-21', 'Booked', nan, 2],
 [2, 102, '2025-02-22', 'Available', 385.37, 2],
 [2, 102, '2025-02-23', 'Booked', nan, 2],
 [2, 102, '2025-02-24', 'Booked', nan, 2],
 [2, 102, '2025-02-25', 'Booked', nan, 2],
 [2, 102, '2025-02-26', 'Booked', nan, 2],
 [2, 102, '2025-02-27', 'Booked', nan, 2],
 [2, 102, '2025-02-28', 'Booked', nan, 2],
 [2, 102, '2025-03-01', 'Booked', nan, 2],
 [2, 102, '2025-03-02', 'Booked', nan, 2],
 [2, 102, '2025-03-03', 'Booked', nan, 2],
 [2, 102, '2025-03-04', 'Booked', nan, 2],
 [2, 102, '2025-03-05', 'Booked', nan, 2],
 [2, 102, '2025-03-06', 'Available', 350.81, 2],
 [2, 102, '2025-03-07', 'Available', 377.75, 2],
 [2, 102, '2025-03-08', 'Booked', nan, 2],
 [2, 102, '2025-03-09', 'Booked', nan, 2],
 [2, 102, '2025-03-10', 'Booked', nan, 2],
 [2, 102, '2025-03-11', 'Booked', nan, 2],
 [2, 102, '2025-03-12', 'Booked', nan, 2],
 [2, 102, '2025-03-13', 'Booked', nan, 2],
 [2, 102, '2025-03-14', 'Booked', nan, 2],
 [2, 102, '2025-03-15', 'Booked', nan, 2],
 [2, 102, '2025-03-16', 'Booked', nan, 2],
 [2, 102, '2025-03-17', 'Booked', nan, 2],
 [2, 102, '2025-03-18', 'Booked', nan, 2],
 [2, 102, '2025-03-19', 'Available', 378.06, 2],
 [2, 102, '2025-03-20', 'Booked', nan, 2],

In [ ]:
try:
    with psycopg.connect(neon_conn_string) as neon_conn:
        print("Connection established")
        # Open a cursor to perform database operations
        with neon_conn.cursor() as cur:
            # Drop the table if it already exists
            cur.execute("DROP TABLE IF EXISTS room_availability;")
            print("Finished dropping table (if it existed).")
            # Create a new table
            cur.execute("""
                CREATE TABLE room_availability (
                    id GENERATED BY DEFAULT AS IDENTITY PRIMARY KEY,
                    room_id INT NOT NULL,
                    room_number INT NOT NULL,
                    date DATE NOT NULL,
                    status VARCHAR(15) NOT NULL,
                    price NUMERIC(8,2),
                    max_occupancy INT,
                    FOREIGN KEY (room_id) REFERENCES rooms(room_id)
                );
            """)
            print("Finished creating table.")
            # Insert room availability data
            cur.executemany(
                "INSERT INTO room_availability (room_id, room_number, date, status, price, max_occupancy) VALUES (%s, %s, %s, %s, %s, %s);",
                df_room_availability.values.tolist(),
            )
            print("Inserted data.")
            # The transaction is committed automatically when the 'with' block exits in psycopg (v3)
except Exception as e:
    print("Connection failed.")
    print(e)

Connection established
Finished dropping table (if it existed).
Finished creating table.
Inserted data.

In [ ]:
try:
    with psycopg.connect(neon_conn_string) as neon_conn:
        print("Connection established")
        # Open a cursor to perform database operations
        with neon_conn.cursor() as cur:
            # Drop the table if it already exists
            cur.execute("SELECT COUNT(*) FROM room_availability")
            print(cur.fetchall())
except Exception as e:
    print("Connection failed.")
    print(e)

Connection established
[(219000,)]

In [51]:
from openai import OpenAI

class NL2SQLAgent:
    def __init__(self, db_conn, llm_conn):
        self.db = db_conn
        self.llm = llm_conn

    def handle_nl_query(self, query: str):
        instructions = """
            You are a SQL query writer. Given the user's input, write a query that, when
            passed to a PostgreSQL database, will gather the data necessary to answer
            the user's query.
            
            You have access to the table room_availability, which provides information
            on the availability of rooms in a hotel, with the following columns:
             - room_number: The room number
             - date: The date the availability information in this row is for
             - status: Whether the room is available or not. Options are Available, Booked, and Maintenance.
             - price: The current price to book the room for that date
             - max_occupancy: The maximum number of people who can stay in the room
        """
        
        return self.llm.responses.create(
            model="gpt-5-mini",
            instructions=instructions,
            input=query,
        )
    
neon_conn = psycopg.connect(neon_conn_string).cursor()
openai_conn = OpenAI(api_key=os.environ.get("OPENAI_API_KEY"))
nl_2_sql_agent = NL2SQLAgent(neon_conn, openai_conn)

In [36]:
def parse_to_sql(nl_query: str) -> str:
    return nl_2_sql_agent.handle_nl_query(nl_query)

In [ ]:
def test_nl2sql():
    query = "Show me available rooms under $500"
    sql = parse_to_sql(query)
    return sql
    
response_query = test_nl2sql()

In [ ]:
neon_conn.execute(response_query.output_text).fetchall()

[(419, datetime.date(2025, 11, 27), Decimal('315.07'), 2),
 (219, datetime.date(2025, 11, 18), Decimal('315.15'), 2),
 (409, datetime.date(2025, 11, 13), Decimal('315.27'), 2),
 (307, datetime.date(2025, 11, 28), Decimal('315.45'), 2),
 (212, datetime.date(2025, 11, 25), Decimal('315.46'), 2),
 (409, datetime.date(2025, 11, 17), Decimal('315.46'), 2),
 (322, datetime.date(2025, 11, 12), Decimal('315.50'), 2),
 (301, datetime.date(2025, 11, 12), Decimal('315.56'), 2),
 (113, datetime.date(2025, 11, 25), Decimal('315.58'), 2),
 (324, datetime.date(2025, 11, 28), Decimal('315.63'), 2),
 (104, datetime.date(2025, 11, 13), Decimal('315.67'), 2),
 (104, datetime.date(2025, 11, 20), Decimal('315.69'), 2),
 (322, datetime.date(2025, 11, 24), Decimal('315.73'), 2),
 (127, datetime.date(2025, 11, 21), Decimal('316.01'), 2),
 (413, datetime.date(2025, 11, 17), Decimal('316.06'), 2),
 (107, datetime.date(2025, 11, 20), Decimal('316.12'), 2),
 (320, datetime.date(2025, 11, 13), Decimal('316.12'), 2),
 (425, datetime.date(2025, 11, 17), Decimal('316.28'), 2),
 (301, datetime.date(2025, 11, 25), Decimal('316.34'), 2),
 (213, datetime.date(2025, 11, 11), Decimal('316.37'), 2),
 (301, datetime.date(2025, 11, 20), Decimal('316.41'), 2),
 (304, datetime.date(2025, 11, 11), Decimal('316.50'), 2),
 (415, datetime.date(2025, 11, 17), Decimal('316.51'), 2),
 (327, datetime.date(2025, 11, 27), Decimal('316.55'), 2),
 (229, datetime.date(2025, 11, 14), Decimal('316.60'), 2),
 (226, datetime.date(2025, 11, 27), Decimal('316.77'), 2),
 (416, datetime.date(2025, 11, 19), Decimal('316.81'), 2),
 (210, datetime.date(2025, 11, 11), Decimal('316.89'), 2),
 (127, datetime.date(2025, 11, 20), Decimal('316.91'), 2),
 (130, datetime.date(2025, 11, 21), Decimal('316.91'), 2),
 (127, datetime.date(2025, 11, 18), Decimal('316.94'), 2),
 (107, datetime.date(2025, 11, 24), Decimal('316.96'), 2),
 (211, datetime.date(2025, 11, 21), Decimal('317.14'), 2),
 (229, datetime.date(2025, 11, 19), Decimal('317.30'), 2),
 (428, datetime.date(2025, 11, 27), Decimal('317.30'), 2),
 (126, datetime.date(2025, 11, 14), Decimal('317.31'), 2),
 (222, datetime.date(2025, 11, 21), Decimal('317.37'), 2),
 (404, datetime.date(2025, 11, 14), Decimal('317.54'), 2),
 (314, datetime.date(2025, 11, 14), Decimal('317.55'), 2),
 (423, datetime.date(2025, 11, 27), Decimal('317.62'), 2),
 (105, datetime.date(2025, 11, 12), Decimal('317.65'), 2),
 (110, datetime.date(2025, 11, 25), Decimal('317.66'), 2),
 (130, datetime.date(2025, 11, 24), Decimal('317.66'), 2),
 (121, datetime.date(2025, 11, 17), Decimal('318.20'), 2),
 (130, datetime.date(2025, 11, 19), Decimal('318.33'), 2),
 (427, datetime.date(2025, 11, 11), Decimal('318.36'), 2),
 (327, datetime.date(2025, 11, 28), Decimal('318.51'), 2),
 (415, datetime.date(2025, 11, 19), Decimal('318.60'), 2),
 (211, datetime.date(2025, 11, 18), Decimal('318.64'), 2),
 (401, datetime.date(2025, 11, 13), Decimal('318.77'), 2),
 (402, datetime.date(2025, 11, 27), Decimal('319.04'), 2),
 (327, datetime.date(2025, 11, 21), Decimal('319.15'), 2),
 (102, datetime.date(2025, 11, 19), Decimal('319.17'), 2),
 (211, datetime.date(2025, 11, 10), Decimal('319.21'), 2),
 (108, datetime.date(2025, 11, 27), Decimal('319.31'), 2),
 (429, datetime.date(2025, 11, 24), Decimal('319.31'), 2),
 (120, datetime.date(2025, 11, 24), Decimal('319.42'), 2),
 (211, datetime.date(2025, 11, 13), Decimal('319.44'), 2),
 (303, datetime.date(2025, 11, 27), Decimal('319.61'), 2),
 (219, datetime.date(2025, 11, 27), Decimal('319.65'), 2),
 (301, datetime.date(2025, 11, 21), Decimal('319.69'), 2),
 (304, datetime.date(2025, 11, 17), Decimal('319.75'), 2),
 (416, datetime.date(2025, 11, 26), Decimal('319.78'), 2),
 (128, datetime.date(2025, 11, 17), Decimal('319.84'), 2),
 (307, datetime.date(2025, 11, 24), Decimal('319.84'), 2),
 (404, datetime.date(2025, 11, 21), Decimal('319.85'), 2),
 (313, datetime.date(2025, 11, 20), Decimal('319.92'), 2),
 (322, datetime.date(2025, 11, 10), Decimal('319.97'), 2),
 (202, datetime.date(2025, 11, 14), Decimal('320.13'), 2),
 (126, datetime.date(2025, 11, 18), Decimal('320.14'), 2),
 (325, datetime.date(2025, 11, 14), Decimal('320.24'), 2),
 (423, datetime.date(2025, 11, 24), Decimal('320.31'), 2),
 (313, datetime.date(2025, 11, 26), Decimal('320.32'), 2),
 (413, datetime.date(2025, 11, 18), Decimal('320.53'), 2),
 (416, datetime.date(2025, 11, 28), Decimal('320.54'), 2),
 (210, datetime.date(2025, 11, 10), Decimal('320.76'), 2),
 (126, datetime.date(2025, 11, 11), Decimal('320.79'), 2),
 (408, datetime.date(2025, 11, 25), Decimal('320.84'), 2),
 (326, datetime.date(2025, 11, 14), Decimal('320.88'), 2),
 (202, datetime.date(2025, 11, 11), Decimal('320.95'), 2),
 (102, datetime.date(2025, 11, 18), Decimal('320.98'), 2),
 (428, datetime.date(2025, 11, 20), Decimal('321.19'), 2),
 (128, datetime.date(2025, 11, 14), Decimal('321.26'), 2),
 (404, datetime.date(2025, 11, 18), Decimal('321.59'), 2),
 (127, datetime.date(2025, 11, 12), Decimal('321.74'), 2),
 (310, datetime.date(2025, 11, 20), Decimal('321.99'), 2),
 (406, datetime.date(2025, 11, 28), Decimal('322.12'), 2),
 (110, datetime.date(2025, 11, 21), Decimal('322.14'), 2),
 (303, datetime.date(2025, 11, 10), Decimal('322.14'), 2),
 (309, datetime.date(2025, 11, 24), Decimal('322.18'), 2),
 (426, datetime.date(2025, 11, 24), Decimal('322.20'), 2),
 (125, datetime.date(2025, 11, 21), Decimal('322.23'), 2),
 (123, datetime.date(2025, 11, 12), Decimal('322.39'), 2),
 (401, datetime.date(2025, 11, 17), Decimal('322.53'), 2),
 (126, datetime.date(2025, 11, 13), Decimal('322.57'), 2),
 (208, datetime.date(2025, 11, 13), Decimal('322.80'), 2),
 (115, datetime.date(2025, 11, 28), Decimal('322.88'), 2),
 (114, datetime.date(2025, 11, 25), Decimal('322.97'), 2),
 (320, datetime.date(2025, 11, 18), Decimal('323.19'), 2),
 (120, datetime.date(2025, 11, 25), Decimal('323.22'), 2),
 (315, datetime.date(2025, 11, 26), Decimal('323.24'), 2),
 (327, datetime.date(2025, 11, 20), Decimal('323.26'), 2),
 (103, datetime.date(2025, 11, 24), Decimal('323.27'), 2),
 (419, datetime.date(2025, 11, 25), Decimal('323.38'), 2),
 (327, datetime.date(2025, 11, 18), Decimal('323.52'), 2),
 (219, datetime.date(2025, 11, 24), Decimal('323.68'), 2),
 (313, datetime.date(2025, 11, 14), Decimal('323.68'), 2),
 (212, datetime.date(2025, 11, 13), Decimal('323.75'), 2),
 (113, datetime.date(2025, 11, 12), Decimal('324.02'), 2),
 (119, datetime.date(2025, 11, 11), Decimal('324.19'), 2),
 (424, datetime.date(2025, 11, 14), Decimal('324.22'), 2),
 (427, datetime.date(2025, 11, 19), Decimal('324.38'), 2),
 (407, datetime.date(2025, 11, 12), Decimal('324.42'), 2),
 (321, datetime.date(2025, 11, 14), Decimal('324.52'), 2),
 (115, datetime.date(2025, 11, 17), Decimal('324.61'), 2),
 (214, datetime.date(2025, 11, 27), Decimal('324.82'), 2),
 (330, datetime.date(2025, 11, 10), Decimal('324.99'), 2),
 (103, datetime.date(2025, 11, 13), Decimal('325.09'), 2),
 (313, datetime.date(2025, 11, 25), Decimal('325.18'), 2),
 (203, datetime.date(2025, 11, 26), Decimal('325.35'), 2),
 (416, datetime.date(2025, 11, 24), Decimal('325.35'), 2),
 (104, datetime.date(2025, 11, 11), Decimal('325.56'), 2),
 (222, datetime.date(2025, 11, 24), Decimal('325.64'), 2),
 (324, datetime.date(2025, 11, 24), Decimal('325.68'), 2),
 (208, datetime.date(2025, 11, 24), Decimal('325.73'), 2),
 (428, datetime.date(2025, 11, 28), Decimal('325.85'), 2),
 (315, datetime.date(2025, 11, 10), Decimal('325.93'), 2),
 (406, datetime.date(2025, 11, 24), Decimal('326.00'), 2),
 (223, datetime.date(2025, 11, 28), Decimal('326.04'), 2),
 (312, datetime.date(2025, 11, 19), Decimal('326.32'), 2),
 (310, datetime.date(2025, 11, 21), Decimal('326.36'), 2),
 (329, datetime.date(2025, 11, 27), Decimal('326.37'), 2),
 (401, datetime.date(2025, 11, 25), Decimal('326.38'), 2),
 (229, datetime.date(2025, 11, 13), Decimal('326.63'), 2),
 (129, datetime.date(2025, 11, 13), Decimal('326.64'), 2),
 (125, datetime.date(2025, 11, 19), Decimal('326.68'), 2),
 (327, datetime.date(2025, 11, 12), Decimal('326.68'), 2),
 (315, datetime.date(2025, 11, 25), Decimal('326.71'), 2),
 (110, datetime.date(2025, 11, 20), Decimal('326.76'), 2),
 (222, datetime.date(2025, 11, 10), Decimal('326.80'), 2),
 (218, datetime.date(2025, 11, 13), Decimal('326.82'), 2),
 (424, datetime.date(2025, 11, 13), Decimal('327.08'), 2),
 (320, datetime.date(2025, 11, 27), Decimal('327.23'), 2),
 (209, datetime.date(2025, 11, 19), Decimal('327.25'), 2),
 (408, datetime.date(2025, 11, 12), Decimal('327.28'), 2),
 (305, datetime.date(2025, 11, 12), Decimal('327.36'), 2),
 (113, datetime.date(2025, 11, 26), Decimal('327.40'), 2),
 (316, datetime.date(2025, 11, 13), Decimal('327.50'), 2),
 (410, datetime.date(2025, 11, 19), Decimal('327.55'), 2),
 (101, datetime.date(2025, 11, 21), Decimal('327.56'), 2),
 (121, datetime.date(2025, 11, 13), Decimal('327.61'), 2),
 (304, datetime.date(2025, 11, 21), Decimal('327.67'), 2),
 (313, datetime.date(2025, 11, 28), Decimal('327.71'), 2),
 (101, datetime.date(2025, 11, 26), Decimal('327.75'), 2),
 (102, datetime.date(2025, 11, 10), Decimal('327.84'), 2),
 (413, datetime.date(2025, 11, 12), Decimal('327.95'), 2),
 (229, datetime.date(2025, 11, 18), Decimal('328.22'), 2),
 (114, datetime.date(2025, 11, 28), Decimal('328.23'), 2),
 (410, datetime.date(2025, 11, 10), Decimal('328.31'), 2),
 (227, datetime.date(2025, 11, 25), Decimal('328.42'), 2),
 (107, datetime.date(2025, 11, 28), Decimal('328.49'), 2),
 (315, datetime.date(2025, 11, 20), Decimal('328.86'), 2),
 (426, datetime.date(2025, 11, 19), Decimal('328.93'), 2),
 (315, datetime.date(2025, 11, 21), Decimal('329.11'), 2),
 (119, datetime.date(2025, 11, 19), Decimal('329.15'), 2),
 (119, datetime.date(2025, 11, 24), Decimal('329.16'), 2),
 (307, datetime.date(2025, 11, 17), Decimal('329.36'), 2),
 (412, datetime.date(2025, 11, 24), Decimal('329.54'), 2),
 (403, datetime.date(2025, 11, 26), Decimal('329.78'), 2),
 (313, datetime.date(2025, 11, 17), Decimal('329.97'), 2),
 (326, datetime.date(2025, 11, 17), Decimal('329.97'), 2),
 (211, datetime.date(2025, 11, 25), Decimal('330.07'), 2),
 (320, datetime.date(2025, 11, 20), Decimal('330.19'), 2),
 (201, datetime.date(2025, 11, 14), Decimal('330.34'), 2),
 (330, datetime.date(2025, 11, 12), Decimal('330.47'), 2),
 (212, datetime.date(2025, 11, 19), Decimal('330.50'), 2),
 (417, datetime.date(2025, 11, 13), Decimal('330.51'), 2),
 (114, datetime.date(2025, 11, 21), Decimal('330.60'), 2),
 (412, datetime.date(2025, 11, 25), Decimal('330.91'), 2),
 (422, datetime.date(2025, 11, 14), Decimal('330.92'), 2),
 (413, datetime.date(2025, 11, 26), Decimal('330.93'), 2),
 (113, datetime.date(2025, 11, 18), Decimal('330.98'), 2),
 (203, datetime.date(2025, 11, 17), Decimal('330.98'), 2),
 (229, datetime.date(2025, 11, 17), Decimal('330.99'), 2),
 (314, datetime.date(2025, 11, 19), Decimal('331.31'), 2),
 (404, datetime.date(2025, 11, 12), Decimal('331.33'), 2),
 (113, datetime.date(2025, 11, 20), Decimal('331.44'), 2),
 (330, datetime.date(2025, 11, 14), Decimal('331.71'), 2),
 (211, datetime.date(2025, 11, 27), Decimal('331.73'), 2),
 (222, datetime.date(2025, 11, 19), Decimal('331.84'), 2),
 (316, datetime.date(2025, 11, 10), Decimal('331.99'), 2),
 (413, datetime.date(2025, 11, 24), Decimal('332.05'), 2),
 (128, datetime.date(2025, 11, 13), Decimal('332.17'), 2),
 (212, datetime.date(2025, 11, 21), Decimal('332.38'), 2),
 (227, datetime.date(2025, 11, 24), Decimal('332.57'), 2),
 (113, datetime.date(2025, 11, 27), Decimal('332.64'), 2),
 (401, datetime.date(2025, 11, 27), Decimal('332.67'), 2),
 (214, datetime.date(2025, 11, 24), Decimal('332.71'), 2),
 (325, datetime.date(2025, 11, 11), Decimal('332.98'), 2),
 (214, datetime.date(2025, 11, 28), Decimal('333.15'), 2),
 (425, datetime.date(2025, 11, 19), Decimal('333.19'), 2),
 (430, datetime.date(2025, 11, 13), Decimal('333.26'), 2),
 (103, datetime.date(2025, 11, 12), Decimal('333.29'), 2),
 (320, datetime.date(2025, 11, 17), Decimal('333.36'), 2),
 (410, datetime.date(2025, 11, 14), Decimal('333.50'), 2),
 (424, datetime.date(2025, 11, 10), Decimal('333.73'), 2),
 (114, datetime.date(2025, 11, 24), Decimal('333.74'), 2),
 (413, datetime.date(2025, 11, 19), Decimal('333.96'), 2),
 (426, datetime.date(2025, 11, 27), Decimal('334.01'), 2),
 (412, datetime.date(2025, 11, 18), Decimal('334.27'), 2),
 (425, datetime.date(2025, 11, 18), Decimal('334.29'), 2),
 (423, datetime.date(2025, 11, 26), Decimal('334.31'), 2),
 (203, datetime.date(2025, 11, 14), Decimal('334.36'), 2),
 (410, datetime.date(2025, 11, 11), Decimal('334.54'), 2),
 (123, datetime.date(2025, 11, 24), Decimal('334.64'), 2),
 (420, datetime.date(2025, 11, 17), Decimal('334.67'), 2),
 (420, datetime.date(2025, 11, 25), Decimal('334.67'), 2),
 (130, datetime.date(2025, 11, 14), Decimal('334.68'), 2),
 (104, datetime.date(2025, 11, 18), Decimal('334.72'), 2),
 (309, datetime.date(2025, 11, 17), Decimal('334.72'), 2),
 (423, datetime.date(2025, 11, 20), Decimal('334.78'), 2),
 (419, datetime.date(2025, 11, 17), Decimal('334.82'), 2),
 (124, datetime.date(2025, 11, 20), Decimal('334.91'), 2),
 (408, datetime.date(2025, 11, 26), Decimal('334.91'), 2),
 (417, datetime.date(2025, 11, 24), Decimal('334.96'), 2),
 (426, datetime.date(2025, 11, 26), Decimal('335.09'), 2),
 (111, datetime.date(2025, 11, 19), Decimal('335.11'), 2),
 (420, datetime.date(2025, 11, 12), Decimal('335.35'), 2),
 (103, datetime.date(2025, 11, 26), Decimal('335.49'), 2),
 (127, datetime.date(2025, 11, 13), Decimal('335.75'), 2),
 (301, datetime.date(2025, 11, 13), Decimal('335.85'), 2),
 (222, datetime.date(2025, 11, 17), Decimal('335.91'), 2),
 (125, datetime.date(2025, 11, 18), Decimal('336.15'), 2),
 (215, datetime.date(2025, 11, 25), Decimal('336.18'), 2),
 (215, datetime.date(2025, 11, 28), Decimal('336.21'), 2),
 (417, datetime.date(2025, 11, 27), Decimal('336.22'), 2),
 (404, datetime.date(2025, 11, 17), Decimal('336.30'), 2),
 (224, datetime.date(2025, 11, 14), Decimal('336.34'), 2),
 (421, datetime.date(2025, 11, 28), Decimal('336.38'), 2),
 (101, datetime.date(2025, 11, 27), Decimal('336.45'), 2),
 (402, datetime.date(2025, 11, 24), Decimal('336.49'), 2),
 (128, datetime.date(2025, 11, 19), Decimal('336.55'), 2),
 (430, datetime.date(2025, 11, 17), Decimal('336.63'), 2),
 (413, datetime.date(2025, 11, 10), Decimal('336.74'), 2),
 (421, datetime.date(2025, 11, 24), Decimal('336.81'), 2),
 (321, datetime.date(2025, 11, 12), Decimal('336.97'), 2),
 (213, datetime.date(2025, 11, 25), Decimal('337.01'), 2),
 (409, datetime.date(2025, 11, 14), Decimal('337.07'), 2),
 (123, datetime.date(2025, 11, 10), Decimal('337.16'), 2),
 (126, datetime.date(2025, 11, 17), Decimal('337.23'), 2),
 (108, datetime.date(2025, 11, 26), Decimal('337.29'), 2),
 (312, datetime.date(2025, 11, 18), Decimal('337.40'), 2),
 (119, datetime.date(2025, 11, 13), Decimal('337.45'), 2),
 (214, datetime.date(2025, 11, 26), Decimal('337.46'), 2),
 (420, datetime.date(2025, 11, 11), Decimal('337.46'), 2),
 (210, datetime.date(2025, 11, 20), Decimal('337.51'), 2),
 (325, datetime.date(2025, 11, 13), Decimal('337.57'), 2),
 (116, datetime.date(2025, 11, 27), Decimal('337.90'), 2),
 (227, datetime.date(2025, 11, 26), Decimal('337.91'), 2),
 (127, datetime.date(2025, 11, 10), Decimal('338.00'), 2),
 (123, datetime.date(2025, 11, 26), Decimal('338.10'), 2),
 (404, datetime.date(2025, 11, 10), Decimal('338.15'), 2),
 (308, datetime.date(2025, 11, 26), Decimal('338.32'), 2),
 (211, datetime.date(2025, 11, 24), Decimal('338.34'), 2),
 (304, datetime.date(2025, 11, 10), Decimal('338.34'), 2),
 (223, datetime.date(2025, 11, 25), Decimal('338.38'), 2),
 (222, datetime.date(2025, 11, 25), Decimal('338.46'), 2),
 (426, datetime.date(2025, 11, 25), Decimal('338.47'), 2),
 (320, datetime.date(2025, 11, 19), Decimal('338.65'), 2),
 (206, datetime.date(2025, 11, 24), Decimal('338.67'), 2),
 (322, datetime.date(2025, 11, 28), Decimal('338.76'), 2),
 (322, datetime.date(2025, 11, 20), Decimal('338.77'), 2),
 (301, datetime.date(2025, 11, 10), Decimal('338.86'), 2),
 (315, datetime.date(2025, 11, 27), Decimal('338.88'), 2),
 (117, datetime.date(2025, 11, 27), Decimal('338.96'), 2),
 (308, datetime.date(2025, 11, 20), Decimal('339.05'), 2),
 (419, datetime.date(2025, 11, 24), Decimal('339.19'), 2),
 (426, datetime.date(2025, 11, 13), Decimal('339.19'), 2),
 (307, datetime.date(2025, 11, 12), Decimal('339.25'), 2),
 (314, datetime.date(2025, 11, 13), Decimal('339.35'), 2),
 (426, datetime.date(2025, 11, 14), Decimal('339.73'), 2),
 (119, datetime.date(2025, 11, 14), Decimal('339.80'), 2),
 (102, datetime.date(2025, 11, 12), Decimal('339.85'), 2),
 (428, datetime.date(2025, 11, 24), Decimal('339.86'), 2),
 (327, datetime.date(2025, 11, 10), Decimal('340.07'), 2),
 (101, datetime.date(2025, 11, 24), Decimal('340.14'), 2),
 (117, datetime.date(2025, 11, 28), Decimal('340.36'), 2),
 (218, datetime.date(2025, 11, 10), Decimal('340.40'), 2),
 (213, datetime.date(2025, 11, 24), Decimal('340.54'), 2),
 (125, datetime.date(2025, 11, 14), Decimal('340.86'), 2),
 (428, datetime.date(2025, 11, 10), Decimal('340.94'), 2),
 (102, datetime.date(2025, 11, 14), Decimal('341.32'), 2),
 (407, datetime.date(2025, 11, 19), Decimal('341.32'), 2),
 (128, datetime.date(2025, 11, 18), Decimal('341.53'), 2),
 (223, datetime.date(2025, 11, 24), Decimal('341.53'), 2),
 (413, datetime.date(2025, 11, 11), Decimal('341.56'), 2),
 (324, datetime.date(2025, 11, 26), Decimal('341.58'), 2),
 (130, datetime.date(2025, 11, 17), Decimal('341.79'), 2),
 (430, datetime.date(2025, 11, 21), Decimal('341.83'), 2),
 (102, datetime.date(2025, 11, 20), Decimal('341.85'), 2),
 (408, datetime.date(2025, 11, 10), Decimal('341.86'), 2),
 (322, datetime.date(2025, 11, 11), Decimal('342.10'), 2),
 (124, datetime.date(2025, 11, 18), Decimal('342.30'), 2),
 (201, datetime.date(2025, 11, 13), Decimal('342.35'), 2),
 (401, datetime.date(2025, 11, 24), Decimal('342.48'), 2),
 (129, datetime.date(2025, 11, 14), Decimal('342.49'), 2),
 (308, datetime.date(2025, 11, 24), Decimal('342.58'), 2),
 (308, datetime.date(2025, 11, 19), Decimal('342.88'), 2),
 (401, datetime.date(2025, 11, 26), Decimal('342.88'), 2),
 (121, datetime.date(2025, 11, 12), Decimal('342.90'), 2),
 (428, datetime.date(2025, 11, 14), Decimal('343.02'), 2),
 (307, datetime.date(2025, 11, 14), Decimal('343.06'), 2),
 (406, datetime.date(2025, 11, 25), Decimal('343.12'), 2),
 (129, datetime.date(2025, 11, 10), Decimal('343.57'), 2),
 (109, datetime.date(2025, 11, 24), Decimal('343.61'), 2),
 (226, datetime.date(2025, 11, 18), Decimal('343.63'), 2),
 (429, datetime.date(2025, 11, 11), Decimal('343.66'), 2),
 (222, datetime.date(2025, 11, 28), Decimal('343.67'), 2),
 (128, datetime.date(2025, 11, 24), Decimal('343.76'), 2),
 (415, datetime.date(2025, 11, 28), Decimal('343.84'), 2),
 (308, datetime.date(2025, 11, 25), Decimal('344.02'), 2),
 (226, datetime.date(2025, 11, 24), Decimal('344.15'), 2),
 (125, datetime.date(2025, 11, 10), Decimal('344.30'), 2),
 (309, datetime.date(2025, 11, 20), Decimal('344.57'), 2),
 (327, datetime.date(2025, 11, 17), Decimal('344.63'), 2),
 (208, datetime.date(2025, 11, 14), Decimal('344.70'), 2),
 (217, datetime.date(2025, 11, 20), Decimal('345.01'), 2),
 (120, datetime.date(2025, 11, 28), Decimal('345.04'), 2),
 (417, datetime.date(2025, 11, 25), Decimal('345.06'), 2),
 (230, datetime.date(2025, 11, 17), Decimal('345.10'), 2),
 (312, datetime.date(2025, 11, 11), Decimal('345.16'), 2),
 (322, datetime.date(2025, 11, 26), Decimal('345.54'), 2),
 (209, datetime.date(2025, 11, 17), Decimal('345.57'), 2),
 (203, datetime.date(2025, 11, 19), Decimal('345.86'), 2),
 (104, datetime.date(2025, 11, 10), Decimal('345.94'), 2),
 (220, datetime.date(2025, 11, 10), Decimal('346.27'), 2),
 (130, datetime.date(2025, 11, 10), Decimal('346.38'), 2),
 (219, datetime.date(2025, 11, 28), Decimal('346.41'), 2),

,room_number,floor,type,square_feet,basic_amenities,additional_amenities,max_occupancy,bed_type,view_type,accessibility,status,last_renovation,base_rate,max_rate
room_id,,,,,,,,,,,,,,
RM000001,101,1,Standard,410,"[Air Conditioning, Smart TV, Premium Coffee Ma...",[City View],2,Queen,City View,False,Available,2022-10-25,350,500
RM000002,102,1,Standard,361,"[Air Conditioning, Smart TV, Premium Coffee Ma...",[Evening Turndown Service],2,Queen,Standard View,False,Available,2023-03-01,350,500
RM000003,103,1,Standard,431,"[Air Conditioning, Smart TV, Premium Coffee Ma...",[Courtyard View],2,Double Queen,Courtyard View,False,Available,2022-08-10,350,500
RM000004,104,1,Standard,391,"[Air Conditioning, Smart TV, Premium Coffee Ma...","[City View, Courtyard View, Evening Turndown S...",2,Queen,Courtyard View,True,Occupied,2023-09-06,350,500
RM000005,105,1,Standard,373,"[Air Conditioning, Smart TV, Premium Coffee Ma...","[Courtyard View, City View, Evening Turndown S...",2,Double Queen,Evening Turndown Service,True,Occupied,2024-04-13,350,500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
RM000596,2026,20,Presidential Suite,2369,"[Air Conditioning, Multiple 75"" Smart TVs, Pro...","[Private Pool, Private Terrace, Luxury Car Ser...",6,King + Multiple Sofa Beds,Standard View,False,Maintenance,2024-10-01,3500,5000
RM000597,2027,20,Presidential Suite,2020,"[Air Conditioning, Multiple 75"" Smart TVs, Pro...","[Private Terrace, Grand Piano, Private Gym Equ...",6,King + Multiple Sofa Beds,Standard View,False,Maintenance,2024-04-17,3500,5000
RM000598,2028,20,Presidential Suite,1883,"[Air Conditioning, Multiple 75"" Smart TVs, Pro...","[Grand Piano, Private Terrace, Dedicated Conci...",6,King + Multiple Sofa Beds,Standard View,False,Occupied,2022-03-09,3500,5000
RM000599,2029,20,Presidential Suite,1643,"[Air Conditioning, Multiple 75"" Smart TVs, Pro...","[Private Terrace, Private Chef Available, Priv...",6,King + Multiple Sofa Beds,Standard View,False,Maintenance,2023-07-24,3500,5000
RM000600,2030,20,Presidential Suite,1671,"[Air Conditioning, Multiple 75"" Smart TVs, Pro...","[Private Butler Service, Private Pool, Grand P...",6,King + Multiple Sofa Beds,Private Butler Service,False,Maintenance,2022-10-06,3500,5000